[2020-06-05 23:14] abbashus opened #2 "Release reporting functionality for Kibana"
Reports for Open Distro allows ‘Report Owner’ (engineers, including but not limited to developers, DevOps, IT Engineer, and IT admin) export and share reports from Kibana dashboards, saved search, alerts and visualizations. It helps automate the process of scheduling reports on an on-demand or a periodical basis (on cron schedules as well). Further, it also automates the process of exporting and s

[2020-06-09 17:07] davidcui1225 opened #3 "Add UI Unit Tests"
Add unit tests for UI components

[2020-06-09 21:31] davidcui-amzn opened #4 "Add "Report Details" Page"
Add Report Details UI page, where the details of each individual report can be viewed

[2020-06-09 21:34] davidcui-amzn opened #5 "Add "Schedule Details" Page"
Add "Schedule Details" page where details for each schedule can be viewed, and the schedule itself can be edited

[2020-06-09 22:37] mihirsoni opened #6 "Move plugin to new kibana platform."
We should move this kibana plugin to latest platform and no support for legacy.

[2020-06-09 22:38] mihirsoni opened #7 "Move to Typescirpt"
For better maintainability we started running most of the plugins to typescript. Kibana itself has moved 100 % typescript. You can refer AD / ISM

[2020-06-10 15:48] abbashus opened #8 "Add report scheduler"
The report scheduler should be an extension of [job-scheduler](https://github.com/opendistro-for-elasticsearch/job-scheduler)  used to trigger Kibana reporting APIs at user defined schedules (intervals or [cron](https://en.wikipedia.org/wiki/Cron) expression).

[2020-06-15 23:43] zhongnansu opened #11 "Provide API to download dashboard/visualization as png/pdf"
An API should be provided as part of reporting core, to generate report from Kibana dashboard or visualization tabs in PDF or PNG format.

[2020-06-16 04:55] devopsotrator opened #12 "Pluggable report engines and (Xe)LaTeX reports for grumpy guys with air-gapped clusters."
There are some clusters out there created only for anomaly monitoring and bad news delivery. You  could find such deployments in one of those labs with one of those fancy particle accelerators or any other modern lab filed with hipsters.

Some of administrators who runs such kind of systems dream of one simple thing. (Xe)LaTeX one report template and read it every morning for the next decade.
Unfo

[2020-06-23 23:11] zhongnansu opened #20 "Data modeling in Elasticsearch"
- Metadata
  - Save metadata
  - Update/Retrieve matadata

[2020-06-23 23:12] zhongnansu opened #21 "Provide API to retrieve metadata of all reports or any single report"

[2020-06-25 05:34] zhongnansu opened #24 "Set up github action workflow for CI/CD"
- [x] kibana-reports plugin
- [x] reports-scheduler plugin

[2020-06-25 05:36] #11 closed

[2020-06-25 05:38] zhongnansu commented on #6
server    log   [05:20:51.457] [warning][legacy-service] Some installed third party plugin(s) [example_plugin] are using the legacy plugin format and will no longer work in a future Kibana release. Please refer to https://ela.st/kibana-breaking-changes-8-0 for a list of breaking changes and https://ela.st/kibana-platform-migration for documentation on how to migrate legacy plugins.

[2020-06-25 05:52] zhongnansu opened #25 "Change to use streaming for report download API"
ref: #11
The existing solution for file download is by first storing a file on server, and then send to client.
Since the storage of file is unnecessary, we decided to switch to use streaming to send file(pdf/png)

[2020-06-25 05:54] zhongnansu opened #26 "Add development guide to documentation"

[2020-06-25 05:57] zhongnansu opened #27 "UI test case fail"
[code]

[2020-06-25 19:00] #26 closed

[2020-06-29 23:06] #27 closed

[2020-06-30 07:52] sammad opened #31 "Support for Powerpoint Reports from Kibana Dashboards"
Hello,

Kibana dashboards when used with customers over API health metrics, often after the workshop customers expect a report.  If user can download one's visualizations as powerpoint presentation with graphs backed by actual data. It empowers user to tweak the scale of data, change legends etc before sending the report to the stakeholders. It would be a powerful feature to include powerpoint plu

[2020-07-09 20:24] #4 closed

[2020-07-09 20:25] #7 closed

[2020-07-09 22:09] #25 closed

[2020-07-09 22:09] #21 closed

[2020-07-09 22:51] zhongnansu opened #39 "Generate critical visualization elements instead of a screenshot of entire page"
proposed solution
- use puppeteer to render certain html elements instead of the entire page
- may need to explore if there is a way to compose different elements together and generate one single image/pdf

Ref: https://www.elastic.co/guide/en/kibana/current/reporting-integration.html#_screenshot_capturing_attributes

[2020-07-10 23:54] zhongnansu opened #40 "plugin fails to run after installed to kibana"
**Issue Description**

After `yarn build` generate the distribution `.zip` file, I tried to install to `kibana` by

[code]

However, when I run `./bin/kibana`, it throws the following error.

**error log**
[code]

[2020-07-20 20:58] zhongnansu opened #45 "CRUD APIs for reports"
report APIs should be able to:
- stream report to client(already have)
- get all reports details
- get single report detail by id
- delete a report
- no update in our scenario

[2020-07-20 21:00] zhongnansu opened #46 "CRUD APIs for report definition"
APIs for report definition should enable caller to:
- create a report definition
- update a report definition
- get all report definitions
- get single report definition by id
- delete a report definition

[2020-07-20 22:06] #6 closed

[2020-07-20 22:06] #5 closed

[2020-07-27 15:40] fabioued opened #49 "APIs endpoints for data reports."
APIs endpoints for data reports to:

Generate and save metadata from saved searches.
Fetch data from previously saved metadata with a limit of 150k rows.

[2020-08-03 18:08] zhongnansu opened #54 "Keeping up withe Kibana master branch causing issues for development"
Currently we are developing against Kibana master branch, which causes some problems for us. Since the Kibana master branch is still under developing, there are potential changes they made which will block our development.

There is one change they made for setting up client to talk with ES from Kibana that has changed in one of the commits to elasticsearch, which even not updated on their migrati

[2020-08-20 22:57] #54 closed

[2020-08-20 22:58] #45 closed

[2020-08-20 22:58] #46 closed

[2020-08-20 23:21] zhongnansu opened #61 "Kibana poller & job executor"
Need to implement a Kibana poller to connect to reports-scheduler ES plugin.

[2020-08-27 01:38] #8 closed

[2020-08-27 18:41] zhongnansu opened #64 "Add complete documentation"
Need to add more documentation to the project

- [ ] Development guide
- [ ] User guide
- [ ] README
- [ ] Design doc update
- [ ] Opendistro official doc on the webiste

[2020-08-27 20:29] zhongnansu opened #65 "Support future date for scheduling a report"
Currently there is only support for scheduling a job based on "internval" (recurring) and "cron" (cron based).

User should be able to schedule a report on exact future date. This is currently limited by the OD job-scheduler SPI we use, which only support interval and cron.

[2020-08-27 23:27] zhongnansu opened #66 "Missing plugin [opendistro-job-scheduler] dependency of [opendistro-reports-scheduler]"
[code]

After manually built the OD job-scheduler artifact and add it to the ES plugin folder, along with the reports-scheduler, it will work.

[2020-08-27 23:27] #49 closed

[2020-08-27 23:28] #20 closed

[2020-09-01 16:49] zhongnansu commented on #66
This is not a bug. User have to manually install job-scheduler plugin, for reports-scheduler plugin to run successfully. But Need to add to the development guide.

[2020-09-02 22:50] #3 closed, assigned to davidcui1225

[2020-09-03 04:19] #61 closed

[2020-09-03 19:56] davidcui-amzn opened #68 "Schema for header and footer"
Currently header and footer in the report definitions are not included in the schema, so the header and footer values are placeholders in the server-side.

We want to add `header` and `footer` fields in the report definition schema so that we no longer have to use these placeholder values, as well as add any server-side parsing needed for the markdown.

[2020-09-11 15:35] sirmordred commented on #40
@akbhatta @davidcui-amzn @zhongnansu I also compiled "kibana-reports" plugin (latest dev branch) from sources and installed it as a zip, but i hit the exact same error --> FATAL  Error: Cannot find module /usr/share/kibana/plugins/opendistro_kibana_reports

Any news or workaround to solve it?

Note: I just compiled and installed "kibana-reports" plugin to kibana, i didnt install notification nor s

[2020-09-15 18:39] davidcui-amzn opened #75 "Share button functionality in Report Details"
Update functionality to the `Share` button in the `Report details` page after sync-up

[2020-09-15 18:42] davidcui-amzn opened #76 "Supply Schedule-related fields in Details pages"
Supply schedule-related fields in both `Report details` and `Report definition details` pages after schema update

[2020-09-15 22:52] davidcui-amzn opened #81 "Fix Pre-population of Edit Report Definition"
Pre-populating fields in `Edit report definition` doesn't work after schema change. Need to fix the way the data is retrieved so that the fields all pre-populate correctly upon visiting the `Edit` page

[2020-09-16 23:24] davidcui-amzn opened #84 "Display Time Range on Reports"
Display the time range in the report when downloaded- right now it's just a screenshot of the report source itself with the header and footer

[2020-09-17 22:17] zhongnansu opened #86 "Report source field doesn't display the dashboard name"
The report source is linked to the snapshot of the dashboard/visualization/discover page, but the display text needs to include the actual dashboard name at least

- Current display
![image](https://user-images.githubusercontent.com/32652829/93533586-1ec49900-f8f8-11ea-8132-8937daba196e.png)

- desired diaply
![image](https://user-images.githubusercontent.com/32652829/93533823-ac07ed80-f8f8-11ea-9

[2020-09-17 22:20] zhongnansu opened #87 "Request time selection dropdown list is not showing correctly"
1. time range is not continuous
2. dropdown UI has weird blue background, also not covering the options above.

![image](https://user-images.githubusercontent.com/32652829/93533947-f25d4c80-f8f8-11ea-968d-b41de72bfa12.png)

[2020-09-17 22:21] zhongnansu opened #88 "auto-refresh report/report definition table after create a report definition is not working"
auto-refresh report/report definition table after create a report definition is not working

[2020-09-17 22:23] zhongnansu opened #89 "Pages are not responsive when resizing the browser window"
![image](https://user-images.githubusercontent.com/32652829/93534352-c7272d00-f8f9-11ea-84c0-289590932f6e.png)

[2020-09-17 22:27] zhongnansu commented on #39
added content crop in #59

[2020-09-17 22:27] #39 closed

[2020-09-17 22:36] zhongnansu opened #90 "Improve input validation on client side and server side"
Currently we have some basic input validation on the server side.
Client also needs some input validation, server side needs to add more input validation

invalid input includes:
- [x] empty fields, e.g. no report name
- [x] invalid fields
- [ ] TODO

[2020-09-17 23:35] zhongnansu opened #91 "Notification toast is not rendered correctly"
![image](https://user-images.githubusercontent.com/32652829/93538738-b1b70080-f903-11ea-9a66-46cccafe659d.png)

[2020-09-19 00:17] davidcui-amzn opened #92 "Report Definition Details for On Demand should have a Generate Report Button"
Right now in the report definition details page, the `File Format` category has the prompt to download the report- it should be in a `Generate Report` button in the header next to `Delete` and `Edit`

[2020-09-19 00:34] davidcui-amzn opened #93 "Include Time Period range in Report Details"
Currently the `Report details` page doesn't display the time period of the report. We only see the created time but not the actual time range that the user configures in the Report definition. We want to add a `Time period` field in the page so that the user can see the range of the report.

[2020-09-20 23:28] zhongnansu commented on #68
#59

[2020-09-22 04:49] zhongnansu commented on #40
After some root cause analysis, I found this issue is related to 2 Kibana issues. Currently after a plugin build, it failed to
1. https://github.com/elastic/kibana/issues/70412 closed
2. https://github.com/elastic/kibana/issues/70426 open

Even though this [PR](https://github.com/elastic/kibana/pull/75019) fixed one issue above, but this fix is targeting a release v7.10.0, and our project is devel

[2020-09-22 04:59] zhongnansu opened #94 "Create recurring report definition weekly and monthly are not working"
For `recurring` reports definitions, only `daily` and `by interval` are working as expected. Need to fix the other two options.
![image](https://user-images.githubusercontent.com/32652829/94985540-8db30c00-050c-11eb-8ff3-a3ac4d3f02fa.png)

[2020-09-22 05:04] zhongnansu commented on #94
May refer to the implementation of Open Distro Alerting Plugin. It also extends job-scheduler to do scheduling when creating a monitor. The frequency options provided are the same as kibana-reports

Code references:

https://github.com/opendistro-for-elasticsearch/alerting-kibana-plugin/blob/21b84fb2579045e66b5f82ad2ed3668a8522d8f6/public/pages/CreateMonitor/components/Schedule/Frequencies/Frequen

[2020-09-22 07:01] zhongnansu opened #95 "Reporting plugin entry point from sidebar is not correctly positioned"
![image](https://user-images.githubusercontent.com/32652829/93852327-b1ea2f80-fc66-11ea-9c3c-0aa6ba34e302.png)

[2020-09-22 16:59] joshuali925 commented on #40
I ran into this issue as well. I think you can include the target folder to avoid the manual step. @zhongnansu  https://github.com/joshuali925/gantt_vis/blob/develop/.kibana-plugin-helpers.json#L8

[2020-09-22 17:37] zhongnansu commented on #40
@joshuali925 Thanks! That seems like the best workaround we can provide now, will address in #96

[2020-09-24 06:16] sirmordred commented on #40
@zhongnansu thanks so much for the reply, i also applied your latest commit to partially fix the build, it worked but i now hit the "**404 elastic did not load properly**" issue which you mentioned as https://github.com/elastic/kibana/issues/70426

I tried the manual step you described but it seems there is no file in **target/public/***
(im running **yarn kbn bootstrap** and then **yarn build** t

[2020-09-24 06:45] zhongnansu commented on #40
@sirmordred  Hi, the fact is `target/` will be generated once the plugin is complied and run by the optimizer. Currently Kibana doesn't provide a way to compile 3-rd party plugins solely. That issue is also an open issue, we'll keep an eye on the update.

But there is still a workaround. My suggestion is first checkout the project under a kibana plugins folder(the same as mentioned [here](https://

[2020-09-24 15:26] davidcui-amzn commented on #40
@sirmordred to add onto what Zhongnan has said here, I recommend running `./gradlew run -Drun.distribution=oss` for your ES 7.8.0 instance to ensure you run the open source distribution similarly to Kibana

[2020-09-25 09:26] sirmordred commented on #40
@zhongnansu @davidcui-amzn  Thanx so much, it finally worked

and also im using it with opendistro kibana&opendistro ES in dockerized environment

I tried to create report through gui after installing plugin but it failed for some reason

`{"type":"log","@timestamp":"2020-09-25T09:09:50Z","tags":["error","plugins","opendistroKibanaReports"],"pid":1,"message":"**Failed to generate report by id: Err

[2020-09-25 10:48] sirmordred commented on #40
EDIT: ahh i see now, @zhongnansu my issue is probably related with step 4 in your comment

[2020-09-25 23:18] zhongnansu opened #98 "Access kibana.yml from plugin to read server.host, server.port and server.basePath"
Currently those settings are not accessible from new Kibana plugin platform. Only available settings are listed here. https://github.com/elastic/kibana/blob/faf4b040042918fe804bc3f80e42011a073c2d8c/src/core/server/plugins/types.ts#L262

There are also issues in the community
- https://discuss.elastic.co/t/kibana-7-6-1-getting-values-from-kibana-yml/227076/6
- https://discuss.elastic.co/t/unknown-k

[2020-09-30 00:29] davidcui-amzn commented on #65
@zhongnansu Can we close this issue now?

[2020-10-01 06:38] zhongnansu commented on #88
Also while one report is under "pending status", we should disable all links(report detail, report source, download icon)

[2020-10-02 20:02] #81 closed

[2020-10-02 20:02] #89 closed

[2020-10-03 06:45] zhongnansu opened #106 "Kibana poller optimization"
Currently, kibana poller is using a hardcoded fixed interval of 5 minutes. Need optimize to use a dynamic interval.

[2020-10-03 07:02] #92 closed

[2020-10-03 07:04] zhongnansu commented on #65
@davidcui-amzn This feature is not implemented yet. Currently we only have `daily` and `By interval` working as expected

[2020-10-03 07:12] zhongnansu commented on #106
Some ideas

1. The polling duration is not fixed to avoid constant simultaneous calls from multiple nodes.
2. Next-poll-delay would return random number between min/max minutes (>5mins)
3. Next-poll-delay max minutes would be dynamic depending on the next scheduled job (so that when the number of jobs are few or very late, the polling will happen very sparsely. say once in 15 min)
4. NOTE: Min min

[2020-10-03 15:39] nullptr34 commented on #40
Hi @davidcui-amzn and @zhongnansu , first of all big thanx to you for your awesome reporting plugin and development, it is really nice

I was also playing it with my dockerized OD elastic&kibana environment, there is also missing library(libatk.so) dependency problem on dockerized opendistro-kibana-1.10.1, i fixed it by installing the following libs
`RUN yum -y install pango.x86_64 pango-devel.x86

[2020-10-20 01:38] #91 closed

[2020-10-20 01:38] #87 closed

[2020-10-20 01:48] zhongnansu commented on #68
Added and improved in
#120
#123
#125

[2020-10-20 01:48] #68 closed

[2020-10-20 01:49] #66 closed

[2020-10-20 01:56] zhongnansu commented on #40
@nullptr34
Currently we haven't integrated with security plugin yet, we are working towards that. If you uninstall or disable the security plugin, I believe it should work fine. We will create a separate issue to track security.

[2020-10-20 01:56] #40 closed

[2020-10-21 02:19] #90 closed

[2020-10-21 23:06] rpotnuru opened #134 "Tentative release for Kibana-reports plugin"
Dear Team,

Do you have any tentative release date for kibana-reports plugin? Eagerly waiting for this.

Thank You.

[2020-10-22 19:54] fastlorenzo commented on #24
@zhongnansu I have a kibana plugin as well and I'm looking at how to automate build with github action workflow, could you let me know if you find an easy way to do it. I'll do the same! cheers

[2020-10-27 04:52] #95 closed

[2020-10-27 04:52] #93 closed

[2020-10-27 04:52] #84 closed

[2020-10-27 04:53] #76 closed

[2020-10-28 22:35] zhongnansu commented on #24
@fastlorenzo Hi, please refer to this PR #159 . FYI, this is only for kibana-reports plugin, we'll add github action for reports-scheduler later.

[2020-10-29 21:39] fastlorenzo commented on #24
thanks, the `/target` note helped a lot!

FYI my build process is here: https://github.com/fastlorenzo/redelk-kibana-app/blob/main/.github/workflows/build.yml

[2020-10-29 22:19] zhongnansu commented on #24
@fastlorenzo No problem. There was a minor fix in this PR https://github.com/opendistro-for-elasticsearch/kibana-reports/pull/163, so that snapshot testing can pass github action CI

[2020-11-02 04:29] shobhitsinghal624 opened #165 "Getting invalid_index_name_exception error when trying to run a report"
This is the error message:
[code]

Any pointers on where should I start looking to fix this. Happy to send a PR if some code changes are needed.

[2020-11-02 16:47] davidcui-amzn commented on #165
Hi, can you provide some more details as well? Such as what action you were trying to perform? This will help us be able to locate the issue more quickly- thanks!

[2020-11-09 17:30] FromPAUS commented on #134
Hey team,

We really like to see kibana-reports work with security plugin. Right now in our setup, we have turned off all the security settings. I'm getting errors when I do export CSV. We really need the export features. Can anyone give me some pointers so I can try to make export work?

Thanks!

[2020-11-09 22:20] FromPAUS commented on #165
I've got the same error when I download CSV.

[2020-11-09T16:14:37,791][ERROR][c.a.o.s.f.OpenDistroSecurityFilter] [odsts-coord1] Unexpected exception [_opendistro] InvalidIndexNameException[Invalid index name [_opendi
stro], must not start with '_'.]
org.elasticsearch.indices.InvalidIndexNameException: Invalid index name [_opendistro], must not start with '_'.
        at org.elasticsearch.cluster

[2020-11-09 22:36] FromPAUS opened #176 "An option to export CSV file with 10,000 rows limitation"
Is it possible to have a feature to allow user to download CSV without maximum of 10,000 rows limitation? Can someone give me some hints how to implement such feature? Where will be the best place (code file) to add a checkbox to enable such feature? Where will be the best place I can utilize "scroll" feature to retrieve all the data? I am not very familiar with ES and Kibana source code layout. B

[2020-11-17 00:12] abbashus opened #197 "Handle default reporting roles on Elasticsearch version upgrades"

[2020-11-17 08:37] abhishekjiitr commented on #134
This is indeed a very useful feature, are there any alternatives while we are waiting for the first release of _kibana-reports_?

[2020-11-17 08:40] zhongnansu commented on #134
Hi guys, we are targeting a ODFE release around 12/10, along with other ODFE products.

[2020-11-17 08:44] zhongnansu commented on #134
We will integrate with security plugin for the release. Are you still having issues exporting csv?

[2020-11-17 08:45] zhongnansu opened #199 "Add cypress testing into github action workflows"

[2020-11-17 08:46] zhongnansu opened #200 "Upgrade to ES/Kibana 7.10"
- [x] Kibana reports plugin
- [x] reports scheduler plugin

[2020-11-17 08:50] zhongnansu commented on #176
@fabioued Hi Fabrice, could you help with this?

[2020-11-17 12:05] 8wlgns opened #201 "Plugin build scripts question"
Hello?

I tried to modify this code and yarn build then plugin-install to Kibana 7.9
But, when I plugin install zip file to Kibana then, it occurs 404 error :-(
And this zip has no target folder also.. ex) plugins/kibana-reports/target

How could I re-build including target folder for modifying source code ?
Is there any build scripts ?

[2020-11-19 00:05] zhongnansu opened #206 "Test case gives console error without failing"
It can pass the test but throw some error in console

[code]

[2020-11-19 03:30] zhongnansu commented on #201
Our latest code is maintained in dev branch. Are you pulling code from there? the target folder is added into the github repo manually by us. Because for 7.9, Kibana fails to handle that. However they did in 7.10, which we will soon upgrade to. You'll find a pending PR I posted for 7.10. #205

[2020-11-20 21:40] zhongnansu opened #210 "Make text in pdf report selectable"

[2020-11-25 18:12] anirudha opened #220 "Support ARM arch. for Reporting"
enable headless chrome arm builds to add ARM support on reporting

[2020-12-03 14:01] mrkobk opened #238 "Option to Export CSV by POST URL"
Would be great to allow for a more programmatic csv export of tables. same/similar as: https://www.elastic.co/guide/en/kibana/current/automating-report-generation.html

[2020-12-09 05:38] zhongnansu commented on #98
Seems like there is a fix for the NP in upstream elastic/kibana. At least we can access `server.basePath`
https://github.com/elastic/kibana/issues/45991

doc ref: https://github.com/elastic/kibana/blob/v7.10.0/docs/development/core/server/kibana-plugin-core-server.basepath.md

[2020-12-11 21:44] #200 closed

[2020-12-11 21:45] #201 closed

[2020-12-11 21:46] #24 closed

[2020-12-11 21:49] zhongnansu commented on #197
@abbashus Can we close this now?

[2020-12-11 21:51] abbashus commented on #197
@zhongnansu We haven't solved this yet. Let us keep this open.

[2020-12-15 13:16] f3n9 opened #249 "Failed to generate reports if index patterns are used in saved searches"
Report source is "Saved search"
File Format is "CSV"
Trigger Type is "On demand"
The index pattern used in the saved search is "prod-idx-event-*".

Here are the kibana log messages:

===============================================
{"type":"log","@timestamp":"2020-12-15T12:01:05Z","tags":["error","plugins","opendistroReportsKibana"],"pid":31465,"message":"Failed to generate report from reportDefini

[2020-12-15 13:24] f3n9 commented on #249
If I change the index pattern to a specific index name like 'prod-idx-event-2020.12.15', reports can be generated and downloaded successfully.

[2020-12-15 14:59] DrBautze opened #250 "Report Generation from Default Metricbeat Dashboards does not work."
## Versions:
* ODFE 1.12.0
* Metricbeat 7.10.0

## Issue:
Report generation fails with error message "invalid relative url"

## Steps to reproduce:
Install the default metricbeat dashboards in Kibana ("./metricbeat setup --dashboards") and try to generate any report (e.g.: "[Metricbeat System] Overview ECS".

## Description

After clicking on Reporting -> Download PDF, an error message occurs:
<im

[2020-12-15 18:30] gsmith-sas opened #251 "Error generating CSV from Discover screen (Failed to generate report: TypeError: Cannot read property 'settings' of undefined)"
I have deployed ODFE 1.12.0 into my Kubernetes cluster using the Helm chart.  Elasticsearch and Kibana appear to be working fine.  However, when I tried to generate a CSV (via **_Reporting -> Generate CSV_**) while on the Discover screen, it fails.  A message dialog appears in the lower right of the browser window with the message:

**Download error
There was an error generating this report.**

If

[2020-12-15 20:38] jasonrojas opened #252 "Visual reports fails generation on custom dashboard ids"
`{"type":"log","@timestamp":"2020-12-15T20:37:53Z","tags":["error","plugins","opendistroReportsKibana"],"pid":30777,"message":"Failed input validation for create report definition Error: [report_params.core_params.base_url]: invalid relative url: /app/dashboards#/view/AWCUqesWib22Ai8JwW3u"}
`

Happens when I try to create a report. Permissions for accessing the reporting indices and such are all t

[2020-12-15 20:58] jasonrojas commented on #252
Looks like if I create a brand new dashboard its OK and I can create a report off of that. However dashboards I have had for months, created many versions ago, trigger the same error when trying to create a report.

[2020-12-15 21:17] jasonrojas commented on #252
Looks like it is coming down to the dasboard id of the saved object:

AWCUqesWib22Ai8JwW3u is the dashboard I am trying to report on, I cloned it, which generated a new id: f9793f90-3f18-11eb-b520-533ece4aa0d8, the new cloned dashboard

[2020-12-15 21:29] anirudha commented on #252
can you paste info on the security access controls here, this feel like an access issue or permissions issue not a bug. can you add more info to this ticket

[2020-12-15 21:33] anirudha commented on #2
Released!

[2020-12-15 21:34] jasonrojas commented on #252
Security is not the issue, once I created the test dashboard today and generated a report where everything worked, indexes were created properly etc so I ruled out permissions there.
Here is the saved object of the dashboard that doesnt work:

`{
id: "AWCUqesWib22Ai8JwW3u",
type: "dashboard",
namespaces: [
"default"
],
updated_at: "2020-12-15T21:02:47.265Z",
version: "WzIzNDQsMV0=",
attributes: {

[2020-12-16 00:59] jasonrojas commented on #252
Looks like this validator does not validate the old dashboard id's:
https://github.com/opendistro-for-elasticsearch/kibana-reports/blob/8b6241eed637837c18703ea58f6f879a569a1bc1/kibana-reports/server/utils/validationHelper.ts#L18-L35

I tested the regex to verify.
<img width="1661" alt="Screen Shot 2020-12-15 at 4 58 19 PM" src="https://user-images.githubusercontent.com/158399/102290919-d0bf3180-3e

[2020-12-16 06:08] shobhitsinghal624 opened #254 "Missing standalone plugin endpoint mentioned in documentation"
The [url endpoint](https://d3g5vo6xdbdb9a.cloudfront.net/downloads/kibana-plugin/opendistro-reports/linux/x64/opendistroReportsKibana-1.12.0.0.zip) mentioned in the [documentation](https://opendistro.github.io/for-elasticsearch-docs/docs/kibana/plugins/#reports-kibana) returns the CloudFront standard access denied message:

[code]

[2020-12-16 06:14] DrBautze commented on #252
Looks exactly like my problem: https://github.com/opendistro-for-elasticsearch/kibana-reports/issues/250

[2020-12-16 06:17] shobhitsinghal624 commented on #254
There seems to be a typo in the documentation. Created a PR for the fix.

[2020-12-16 06:56] shobhitsinghal624 opened #255 "Error loading report definitions table"
I did a standalone plugin install on a fresh docker install of Elasticsearch 7.10.0 + Kibana 7.10.0.

Getting this error when I navigate to the reporting page:
[code]

Kibana logs show this error:
[code]

Is there some permission that I need to add manually?

[2020-12-16 14:57] e100 opened #256 "Unable to generate PNG or PDF reports"
When trying to download a PDF or PNG report I get the message "Error downloading report"

Error logs from kibana:
`{"type":"log","@timestamp":"2020-12-16T14:38:25Z","tags":["info","plugins","opendistroReportsKibana"],"pid":1,"message":"original queryUrl http://localhost:5601/app/visualize#/edit/cb329ba0-5e44-11ea-adc1-b1908ab22df5?_g=(time:(from:'2020-12-15T17:22:46.415Z',to:'2020-12-15T17:52:46.4

[2020-12-16 16:03] e100 commented on #249
I have this same error

[2020-12-16 17:56] zhongnansu commented on #254
Thx for the fix

[2020-12-16 17:56] #254 closed, assigned to nobody

[2020-12-16 18:08] zhongnansu commented on #252
@jasonrojas You are right, the validator verifies the uuid format exactly as the regex in the screenshot shows. Since our plugin start developing from Kibana 7.9.1 We are not aware of this id format change in the past, and will look into it. Thanks for your feedback as well. @nosferatu314

[2020-12-16 18:25] zhongnansu commented on #2
https://opendistro.github.io/for-elasticsearch/blog/releases/2020/12/opendistro-1-12-0-released/

[2020-12-16 18:25] #2 closed

[2020-12-16 18:34] zhongnansu commented on #255
Hi, do you have both reports-scheduler and kibana-reports plugin installed when you said you did a standalone plugin install?

[2020-12-16 18:44] zhongnansu commented on #220
https://github.com/opendistro-for-elasticsearch/kibana-reports/releases/tag/chromium-1.12.0.0

[2020-12-16 18:44] #220 closed

[2020-12-16 18:47] #210 closed

[2020-12-16 18:48] #199 closed

[2020-12-16 18:49] #197 closed

[2020-12-16 18:51] #106 closed

[2020-12-16 18:52] #94 closed

[2020-12-16 18:52] #88 closed

[2020-12-16 18:54] zhongnansu commented on #134
Good news, we have shipped reporting with ODFE 1.12.0, please check it out.
https://opendistro.github.io/for-elasticsearch/blog/releases/2020/12/opendistro-1-12-0-released/

[2020-12-16 18:55] #86 closed

[2020-12-16 18:55] #75 closed

[2020-12-16 18:56] #65 closed

[2020-12-16 18:57] #206 closed

[2020-12-16 18:57] #134 closed

[2020-12-16 19:12] zhongnansu commented on #251
seems similar to this issue https://github.com/opendistro-for-elasticsearch/kibana-reports/issues/249

[2020-12-16 20:04] zhongnansu commented on #249
Hi I am able to reproduce this issue, seems like the csv logic doesn't apply to saved search with index pattern. It sounds like something important that we missed. We'll look into that.

[2020-12-16 22:10] mmguero opened #259 ""Failed input validation for create report" and "invalid relative url""
I just updated to Open Distro for Elastic 1.12.0 and went to try out the new reporting feature.

Any time I attempt to export a PDF or PNG report, I get this error in my logs:

[code]

With a `Download error: There was an error generating this report` dialog and the `Generating report` dialog just spins forever.

I'm using the official OpenDistro for Elastic Kibana docker file as the basis for [my

[2020-12-16 22:30] jasonrojas commented on #252
Just to make sure I add the work-around for anyone that also runs into this issue. If you clone the dashboard or saved search you are trying to report on it should generate a new id for the resource and that will work with the reporting until this and #250 are closed.

[2020-12-17 02:00] zhongnansu commented on #259
Yeah you are right. Currently reporting only supports default `server.basePath: ''`, `server.port: 5601`. The relative url with customized `sever.basePath` will throw the validation error you saw. In the Kibana new Platform, currently there's no way to read those two fields from kibana.yml, we are considering adding plugin config for those fields in the future release

[2020-12-17 02:02] zhongnansu commented on #256
Please refer to this https://github.com/opendistro-for-elasticsearch/kibana-reports/issues/259#issuecomment-747154580

[2020-12-17 02:19] shobhitsinghal624 commented on #255
I have installed these plugins on elasticsearch:

- opendistro-reports-scheduler    1.12.0.0
- opendistro-job-scheduler        1.12.0.0

and this plugin on kibana:

- opendistroReportsKibana           1.12.0.0

[2020-12-17 08:21] jsdevalx opened #262 "opendistro 1.12 CSV PDF generating reports issue"
Updated/Reinstalled Open Distro for Elastic 1.12.0. I have checked reporting feature. There are some problems. Please take a look.

[code]

CSV - Report from Saved Search:
[code]
CSV - It is still unsolved for me anyhow.

PDF - Report from Dashboard:
[code]

OK. So i have found a solution for PDF here: https://github.com/opendistro-for-elasticsearch/kibana-reports/issues/259
I had to disable SSL a

[2020-12-17 10:11] abhishek-jaisingh commented on #249
Facing the same issue

[2020-12-17 15:08] alexz00 commented on #262
I'm experiencing the same issue. The Reporting does not work if ODFE security and Kibana SSL are enabled.

The problem is that the Reporting plugin tries to reach the Kibana HTTP endpoint instead than the HTTPS one:

[2020-12-17 19:16] zhongnansu commented on #252
Found something from Kibana community. https://github.com/elastic/kibana/issues/11338
Human readable dashboard ids should be abandoned, not sure why Metricbeats dashboard is still using it. @nosferatu314 #250

Also, what version of Kibana and ES that you are using, which generates this id format `AWCUqesWib22Ai8JwW3u` @jasonrojas

[2020-12-18 01:07] remioo opened #264 "Create report definition: dashboard list limited to 10"
Version: opendistro 1.12 - docker image

Step to reproduce:
- create more that 10 dashboards
- in reports create a new definition
- the 'Select dashboard' listbox only contains 10 dashboards (and is not a searchable list box)

Bonus: Visualization listbox is fine, but it would be nice to have a searchable box: I have almost 400 visualizations so it can take time to find the right one

[2020-12-18 01:24] remioo commented on #252
Hello.

I have the same issue, with a dashboard with a custom id:
{"type":"log","@timestamp":"2020-12-18T01:18:44Z","tags":["error","plugins","opendistroReportsKibana"],"pid":1,"message":"Failed input validation for create report definition Error: [report_params.core_params.base_url]: invalid relative url: **/app/dashboards#/view/bks400-overview**"}

[2020-12-18 01:29] remioo commented on #262
Experiencing the same issue with the reporting trying to connect in http instead of https
{"type":"log","@timestamp":"2020-12-18T01:25:48Z","tags":["error","plugins","opendistroReportsKibana"],"pid":1,"message":"Error: net::ERR_EMPTY_RESPONSE at http://localhost:5601/app/visualize#/edit/2174bbc0-9671-11e9-8f6b-d1950b9b94c0?_g=(time:(from:'2020-12-18T00:55:45.463Z',to:'2020-12-18T01:25:45.463Z'))\n

[2020-12-18 16:56] brian-grabau opened #265 "Out of memory error with new plugin"
We noticed a lot of our of memory failures in Kibana when users trying to create reports. Even though reports don't work; do to index patens we use, which I think was identified in other issue reports.  Is there any recommendations for increasing memory cash size in Kibana?

[2020-12-18 18:34] anirudha commented on #265
could you please add more detail on how to reproduce or details on your setup ? thanks

[2020-12-18 18:51] zhongnansu commented on #255
@akbhatta Can you help here?

[2020-12-18 18:54] zhongnansu commented on #250
ref: https://demo.elastic.co/app/dashboards#/view/Metricbeat-system-overview-ecs?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-15m,to:now))&_a=(description:'Overview%20of%20system%20metrics',filters:!(),fullScreenMode:!f,options:(darkTheme:!f),query:(language:kuery,query:''),timeRestore:!f,title:'%5BMetricbeat%20System%5D%20Overview%20ECS',viewMode:view)

[2020-12-18 18:56] zhongnansu commented on #165
Hi, we just shipped our initial release, could you take a look and let us know if the issue still exists?

[2020-12-18 19:01] zhongnansu commented on #98
A possible solution here, we are looking into it
https://github.com/opendistro-for-elasticsearch/kibana-reports/pull/245#issuecomment-747790082

[2020-12-18 20:21] davidcui1225 commented on #264
Dashboard listbox limit has been removed

[2020-12-18 22:05] akbhatta commented on #255
The error "action [indices:admin/create] is unauthorized for user [_system]" is from security plugin. Will check further.

@hardik-k-shah @vrozov Let me know if you have any info on this.

[2020-12-19 01:47] zhongnansu commented on #252
@remioo Thanks for the feed back. Can you share how that dashboard is created? Or did you create the custom saved_object id? I just tried to figure out why other formats of id can be created. Because the dashboard created by kibana should have one format of uuid, that's what our validators in the code is targeting.

[2020-12-19 08:44] f3n9 commented on #249
Thanks for looking into it and for the prompt fix.
I merged the diff into my installation and confirm that the report generating issue with wildcard index patterns has been fixed.
Great work!

[2020-12-20 01:17] vrozov commented on #255
@akbhatta There is a request to create an index that is denied due to insufficient permission.

[2020-12-21 07:20] abhishek-jaisingh commented on #249
@zhongnansu are there any plans to release this fix as a part of a patch release, or do we have to wait for the next minor release of ODFE?

[2020-12-21 20:58] remioo commented on #252
Indeed I created the custom id with the saved object method.
Is there any specific reason why you need to be so restrictive in the regex?

[2020-12-22 02:39] antonisnyc94 opened #273 "Cannot create any reports"
Whenever I am trying to create a report firstly i get the first error and then when I try again Im getting a different error which states that Name must not be empty, which it is not empty. Kibana logs dont really show anything, neither elasticsearch. How can I investigate further?

![image](https://user-images.githubusercontent.com/36517441/102842292-9eb93e00-43d4-11eb-90d4-4b00a7207fd9.png)

![i

[2020-12-22 21:33] zhongnansu commented on #98
Ref: https://www.elastic.co/guide/en/kibana/current/reporting-settings-kb.html#reporting-kibana-server-settings

[2020-12-24 22:55] vinaykumar4s opened #278 "Reports not working when "server.basePath" property present"
Kibana reports not working when "server.basePath" property present in kibana.yml

##
kibana.yml

server.basePath: "/insights"
server.rewriteBasePath: true
##

Version details:

kibana version 7.10.0
reports plugin version  1.12.0.0
elasticsearch  version 7.10.0
##

https://github.com/vinaykumar4s/issues/blob/main/reports-error.png
![image](https://user-images.githubusercontent.com/25397819/1031079

[2020-12-24 23:09] joshuali925 commented on #278
Hi, this is a known issue with upstream Kibana new plugin platform, that plugins are unable to read all configurations from `kibana.yml`. We are tracking it in issue #98 and working on alternative solutions.

Thanks

[2020-12-24 23:22] vinaykumar4s commented on #278
@joshuali925 Thank you i will close this now.

[2020-12-24 23:22] #278 closed, assigned to nobody

[2020-12-28 19:50] zhongnansu commented on #273
@antonisnyc94 If there isn't any log in Kibana side, which means the request never get sent from client. It looks to me it fails the client side input validation. But from your screenshot, it looks like you have the correct format for "Name".

[2020-12-28 19:51] zhongnansu commented on #273
@davidcui-amzn any idea how to find the root cause?

[2020-12-28 19:52] #264 closed, assigned to davidcui1225

[2020-12-28 20:02] zhongnansu commented on #252
Yes, it's all about secuirty concern. Since the create report API asks for the relative url as input, there is an SSRF(Server-side request forgery) vulnerability. Assume if someone finds an open redirect vulnerability, he can pass in `/app/dashboards#/view/anything?nextUrl=https://attacker-controlled-domain.com
 `

[2020-12-28 20:37] davidcui1225 commented on #273
Will look- this name should not violate any client-side validation

[2020-12-28 20:41] zhongnansu commented on #273
@antonisnyc94 could you share more details about how we can reproduce the issue? Is there any log for the first issue you met? "Error create report definition"

[2020-12-28 20:44] remioo commented on #252
I see, thank you for your answer.
And what about having the regex changed from [a-f0-9-]+ to [a-zA-Z0-9-]+
Or maybe having a setting to tune it?
This would still prevent the vulnerability and enable both the old IDs use case and custom IDs one (with restrictions on the characters)

[2020-12-28 20:58] davidcui1225 commented on #273
+1 as above, I cannot reproduce this issue locally as of now

[2020-12-28 21:06] zhongnansu commented on #252
Yes, relax the regex was the first thing that came to my mind, but even `[a-zA-Z0-9-]+` we are still not allowing anything, but allowing more than standard UUID, I feel like it's not a generic solution. In Kibana, how `saved_object` ids are created is either custom value or default value(uuid). So the solution may be relax the regex to accept anything, we are still assessing the security concern.

[2020-12-29 20:12] WassimDhib opened #279 "security_tenant and embed parameteres are mutually exclusive"
Hi

In my application, I embed Kibana dashboards and other pages in iframes.

In order to select tenant, we add security_tenant parameter to the url (before the # anchor)
To embed the Kibana page (remove the upper and leftside menus), we use embed=true (after the # anchor)

Each of those parameters works separately, but when we put them together the embed parameter is not working

Here is a sample

[2020-12-30 15:53] nilei opened #281 "headless_shell not executable on Mac OS X"
the headless shell is not executable in Mac OS X. When trying to download a PDF or PNG, Kibana shows the following messages:

        TROUBLESHOOTING: https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md

          log   [15:09:54.217] [error][opendistroReportsKibana][plugins] Error: Failed to launch chrome!
        /Users/nils/Downloads/kibana-7.10.0-darwin-x86_64/plugins

[2020-12-30 18:35] antonisnyc94 commented on #273
Hey guys, it appears that for some reason the reporting package was missing in the 2 out of the 3 nodes in elasticsearch. I installed it and now everything is fine.

Thanks,
Tony

[2020-12-30 18:35] #273 closed, assigned to nobody

[2021-01-04 16:46] brian-grabau commented on #265
This may be due to size of our deployment and number of users we have, looks like issue predated the reports plugin, but, issue is observed when user attempts to generate report and prior to update kibana failed gracefully and restarted, now we observe the if Kibana fails it does not always reconnect to Azure AD. Reconnect issue was resolved by restarting both Kibana + Elastic coordinating node al

[2021-01-04 18:46] zhongnansu commented on #281
@nilei Hi, Are you using the Mac version of headless chromium downloaded from our release page?
https://github.com/opendistro-for-elasticsearch/kibana-reports/releases/tag/chromium-1.12.0.0

[2021-01-04 19:21] nilei commented on #281
@zhongnansu No :-) I missed that in the documentation maybe. How do I use it? Just replace the .chromium directory in the plugins/opendistroReportsKibana directory?

[2021-01-04 19:25] zhongnansu commented on #281
Yes, you are right. Give it a try! :wink:

[2021-01-06 15:18] mj84 opened #285 "When creating a report definition the dashboard picker only shows 10 dashboards"
Hi all,
first of thanks alot for this awesome reporting feature!

I have a few dashboards of which I want to create reports:
![image](https://user-images.githubusercontent.com/12526366/103783983-b251df00-5039-11eb-903f-b9109a1d17a7.png)

When creating a report definition, the dashboard picker element only displays 10 dashboards:
![image](https://user-images.githubusercontent.com/12526366/103784123

[2021-01-06 15:19] mj84 commented on #285
Sorry, this is a duplicate of #264

[2021-01-06 15:19] #285 closed, assigned to nobody

[2021-01-06 18:06] #281 closed, assigned to nobody

[2021-01-07 12:58] cosmix opened #290 "Option to export PDF report by POST URL (as per the upstream/x-pack feature)"
This ticket is related to, but not identical to #238. It would be great if we could trigger a generation/download of a PDF report using a POST URL, as per the ELK Gold++ versions.

[2021-01-08 15:44] anirudha commented on #249
This should be part of the next release in early feb.

[2021-01-21 14:58] linbingdouzhe commented on #262
same here  same issue....

[2021-01-27 08:05] #265 closed, assigned to nobody

[2021-01-27 20:20] alessiocreo opened #308 "Report generating points to localhost instead of Kibana Server"
Hi,

I've installed Kibana report plugin 1.12 on elasticsearch-oss-7.10.0 and kibana-oss-7.10.0.

[code]

as you can see I've set my Kibana server published on 192.168.1.82:8080but when I try to generate a report the logs say that he's trying to connect to localhost:5601.

The configuration of security plugin and the report plugin are the default.

Can anyone help?

Thanks a lot,
Alessio

[2021-01-29 05:08] zhongnansu commented on #308
Hi, I believe this is a known issue with upstream Kibana new plugin platform, that plugins are unable to read all configurations from `kibana.yml`. We are tracking it in issue #98 and working on alternative solutions.

Thanks

[2021-01-29 05:10] zhongnansu opened #309 "Kibana-reports plugin doesn't show clear error message when the reports-scheduler plugin is missing"
Reference from:
https://discuss.opendistrocommunity.dev/t/reporting-plugin-not-working/4744/4?u=anirudha

[2021-01-29 05:12] zhongnansu commented on #309
I wonder how other plugins are handling this scenario.

[2021-01-29 05:15] zhongnansu commented on #290
A programmatic interface of reporting is definitely on our roadmap

Thanks.

[2021-01-29 05:18] zhongnansu commented on #259
close this one, since we are tracking this issue on #98

[2021-01-29 05:18] zhongnansu commented on #256
tracking similar issues here #98

[2021-01-29 05:19] zhongnansu commented on #255
Is this resolved?

[2021-02-01 04:59] ylasri opened #310 "Kibana Behind NGINX Proxy for Reporting (Failed Reporting with Security Enabled)"
I have deployed a local instance of Elasticsearch & Kibana (v7.10.0), OpenDistro (1.12.0)
I configured Kibana as follow :

[code]

The the following configuration is used for NGINX

[code]

I did some changes on the code (Forked from dev branch) to fix the issue #98 and i was able to get reporting working fine but only if securty is disabled

[code]

![image](https://user-images.githubusercontent.

[2021-02-01 05:09] ylasri commented on #310
Here is the error showing in Kibana console when security is enabled

[code]

[2021-02-01 05:12] ylasri commented on #310
[code]

[2021-02-01 19:03] zhongnansu commented on #310
Hi,

- When security is enabled, reporting grabs the session cookie to access the url(dashboard, visulization), then genreate a report. You may try print some logs to see where went wrong. Related code https://github.com/opendistro-for-elasticsearch/kibana-reports/blob/b17f359dbfc10d937d11e90d0bd64f95862552a7/kibana-reports/server/routes/lib/createReport.ts#L94
- Could you share your idea or branc

[2021-02-01 19:38] ylasri commented on #310
I did some debugging and i can see that the cookie is propagated to pupeeter process, but not sure what happen

I got this error

`Failed to generate report: TimeoutError: waiting for selector ".visEditor__content" failed: timeout 600000ms exceeded`

[2021-02-01 19:56] zhongnansu commented on #310
That usually means it's not landing on the correct page, so puppeteer couldn't find the html element to do the screenshot.
There could be two causes for the issue.
1. someting is still wrong with passign the cookie, or the cookie expired so puppeteer redirects to the login page of Kibana.
2. Puppeteer starts doing screenshot before the correct page is fully loaded. Puppeteer needs to wait longer.

[2021-02-02 12:08] dhruvildoshi commented on #256
Getting the same error.
Is there any workaround that can be implemented untill next update

[2021-02-02 20:24] ylasri commented on #310
Thanks @zhongnansu for the hint
I managed to get it worked, it was an issue with the cookie, i had to add basePath to the path of the cookie

[2021-02-02 21:45] zhongnansu commented on #310
@synapticiel No problem! Do you mind sharing some ideas on how you enabled the customized server.basePath, port and host, for reporting?

[2021-02-03 18:09] zhongnansu commented on #262
this is related to #98 , we'll deliver a fix soon

[2021-02-03 18:11] #255 closed, assigned to nobody

[2021-02-03 18:11] #252 closed, assigned to zhongnansu

[2021-02-03 18:11] #249 closed, assigned to zhongnansu

[2021-02-03 18:12] #250 closed, assigned to zhongnansu

[2021-02-03 18:12] #251 closed, assigned to zhongnansu

[2021-02-04 08:50] #64 closed

[2021-02-04 08:55] anirudha commented on #176
We thought about this a lot during the design phase and finally decided there is a distinction between reporting and a data export feature.

Currently, the system allows for a maximum of 10000 records returned with reporting to align with ES query defaults.
we can take 2 options
1. make it a config. param. ( this will enable some users to shoot themself in the foot if they use it incorrectly )
2.

[2021-02-04 14:21] ylasri commented on #310
HI @zhongnansu
Yes sure, I added my comments to https://github.com/opendistro-for-elasticsearch/kibana-reports/pull/245#issuecomment-772687262

[2021-02-04 19:24] alexz00 opened #311 "Tenant selection panel showed in generated report"
Hi,
I'm using ODFE 1.12 with the following configuration:
- ODFE security enabled
- Kibana SSL disabled
- Kibana port 5601 (default)
- Kibana multi-tenancy enabled

When I try to generate a report, the tenant selection panel is displayed in the report:
![On_demand_report_2021-02-04T18_45_11 039Z_1c3ac8f0-6719-11eb-b5d4-3f3ab99c27bb](https://user-images.githubusercontent.com/26408524/106944487-ebf4

[2021-02-05 02:15] #98 closed

[2021-02-05 02:17] zhongnansu commented on #308
close this one, since we are tracking this issue on #98

[2021-02-05 02:17] #308 closed, assigned to nobody

[2021-02-05 02:18] #259 closed, assigned to nobody

[2021-02-05 02:19] zhongnansu commented on #256
close this one, since we are tracking this issue on #98 and a fix is delivered

[2021-02-05 02:19] #256 closed, assigned to nobody

[2021-02-05 02:20] zhongnansu commented on #310
Thank you for your contribution. We just delivered a fix w.r.t #98. Please take a look

[2021-02-05 02:20] #310 closed, assigned to nobody

[2021-02-05 02:20] zhongnansu commented on #262
#98 is fixed

[2021-02-05 02:20] #262 closed, assigned to zhongnansu

[2021-02-05 14:26] anirudha commented on #311
this is weird :( , investigating, will fix asap

[2021-02-05 19:11] zhongnansu commented on #311
If you select "remember my selection", will it still be there in the reports?

[2021-02-06 03:40] jlumley opened #315 "Option to define a kibana index for report source"
The kibana.yml config file allows users to change the index where Kibana saves all the visualizations and dashboards but reportSource.ts hard-codes the source index to ".kibana".

I can make the changes, I just wanted to get some feedback before starting any work.

Also new to typescript so any help and insight is welcome.

Thanks!

[2021-02-06 06:10] zhongnansu commented on #315
Hi, thank you for your feedback! These are my thoughts
1. I am curious about the usecase of choosing customized kibana index, other than `.kibana`
2. Will it work with Open distro security plugin for multi-tenancy? https://opendistro.github.io/for-elasticsearch-docs/docs/security/access-control/multi-tenancy/
3. Also, how do you plan to read from kibana.yml? Is there something like
[code]

[2021-02-06 09:56] ylasri commented on #315
Yes, there is an option to access kibana.index from kibana.yml but marked as a legacy, means that may be changed in the future
Have a look here : https://github.com/elastic/kibana/blob/master/x-pack/plugins/event_log/server/plugin.ts#L69-L70
Or have a look at this PR #314

[2021-02-06 18:28] jlumley commented on #315
@zhongnansu
1. I inherited an Elasticsearch instance running an older version of vanilla Elasticsearch, we supported multi-tenancy by allowing multiple instances of Kibana to read from one elasticsearch instance but write to their own kibana index. Does the multi-tenancy plugin restrict me to using only a single Kibana instance?
2. Does reporting support multi-tenancy today given that only the glo

[2021-02-06 18:38] ylasri commented on #315
Hi @jlumley
It will match the tenant index

[2021-02-06 20:13] jlumley commented on #315
Great! Thanks @synapticiel

[2021-02-06 20:13] #315 closed, assigned to nobody

[2021-02-08 11:44] alexz00 commented on #311
Yes, I tried also after having selected 'remember my selection', the issue still happens.

[2021-02-08 18:03] zhongnansu commented on #311
Thanks for the feedback, this is indeed an issue, we'll look into this.

[2021-02-10 13:44] sagarpatel07 commented on #165
Hi,
We are facing same issue while generating report. We have load sample data of E Commerce which is available in ES and from Dashboard page we are trying to export report as PDF.
Below is our configuration:
ElasticSearch 7.10.0
opendistroReportsKibana 1.12.0.0

While clicking on Export as PDF it is throwing below ERROR.

`log   [13:20:50.344] [error][opendistroReportsKibana][plugins] Failed to g

[2021-02-10 18:54] zhongnansu commented on #165
@sagarpatel07 Hi could you provide the following info for us to find the root cause?
1. Are you using Elasticsearch-OSS version?
2. What change did you make to the default elasticsearc.yml and kibana.yml?

[2021-02-10 18:55] zhongnansu commented on #165
@shobhitsinghal624 @FromPAUS I wonder if you guys are still experiencing the same issue

[2021-02-10 20:45] zhongnansu commented on #311
Since reporting launch a chromium instance to access the url for visual report generation. I believe the tenant preference is saved only in the browser cache.

Meanwhile, I found some related open issues in security-kibana-plugin repo. If the tenant preference is preserved in the url, the reporting will have no issue.
https://github.com/opendistro-for-elasticsearch/security-kibana-plugin/issues/74

[2021-02-11 04:44] sagarpatel07 commented on #165
1. Are you using Elasticsearch-OSS version?
     No, we have downloaded from this link: https://www.elastic.co/downloads/past-releases/elasticsearch-7-10-0
 2. What change did you make to the default elasticsearc.yml and kibana.yml?
     We have not done any changes, we have just added Opendistro Kibana plugin only.

[2021-02-11 05:33] zhongnansu commented on #165
@sagarpatel07
Please use the OSS version of Elasticsearch, we couldn't guarantee our plugin works with non-OSS version of Elasticsearch.
Also, reporting feature requires both kibana-reprots plugin, and reports-scheduler plugin(ES plugin) together to work. Please give it a try and let us know if you still have issue

[2021-02-11 06:57] #311 closed, assigned to nobody

[2021-02-11 09:04] sagarpatel07 commented on #165
is this plugin is specific to Linux OS as i can see **linux/x64** in installing URL:
kibana-plugin install https://d3g5vo6xdbdb9a.cloudfront.net/downloads/kibana-plugins/opendistro-reports/linux/x64/opendistroReportsKibana-1.12.0.0.zip

[2021-02-11 09:49] sagarpatel07 commented on #165
I have installed ES reporting scheduler and Job scheduler plugin in ELK non-OSS and OSS version. now i am getting different error. it is throwing error for chrome lunch while clicking on generate pdf report for both Non-OSS and OSS version.
` log   [09:42:53.205] [error][opendistroReportsKibana][plugins] Failed to generate report: Error: Failed to launch chrome! spawn C:\Users\XXX\ELK\kibana-7.10.

[2021-02-11 19:18] zhongnansu commented on #165
The link you found is the linux version. I assume you are running on windows from the logs.
Here is the cloudfront link for windows.
https://d3g5vo6xdbdb9a.cloudfront.net/downloads/kibana-plugins/opendistro-reports/windows/x64/opendistroReportsKibana-1.12.0.0.zip

[2021-02-12 05:34] sagarpatel07 commented on #165
@zhongnansu Thanks for update, i was using below documentation for reference, can we please update documentation.
https://opendistro.github.io/for-elasticsearch-docs/docs/kibana/plugins/#reports-kibana

After using windows URL, it is working fine in OSS and Non-OSS both version.

[2021-02-12 12:54] kaustubhkhare opened #320 "Include all fields in the document to the generated CSV from saved search"
It would be great if the reports plugin could add all the fields present in the document to the csv instead of just the fields added to grid.

[2021-02-12 12:57] kaustubhkhare opened #321 "Allow saved search included in a dashboard to be exported to csv individually"
We can't export an individual csv which is included in a dashboard.
Saved searches can only be exported from the discover tab.

[2021-02-12 19:56] zhongnansu commented on #165
will update the docs, thx

[2021-02-12 19:56] #165 closed

[2021-02-12 19:58] zhongnansu commented on #320
Hi could you be more specific? It's better that you provide some screenshots and steps, so that we can better understand. Thanks!

[2021-02-18 10:32] uplexPaul opened #326 "PDF Report Size / Table Size (currently limited to 23 Entries?)"
I've been trying out the report feature in the past week and got it finally working.

Then i tried to generate some pdf reports. I tried reporting a dashboard and a visualization including a data table showing some top accessed urls from a webserver.

Problem is that the resulting Report pdf Height seems to be limited somehow. The pdf is only showing the first 23 Entries of the data table and i do

[2021-02-18 17:37] zhongnansu commented on #326
Hi thanks for using our product and sharing feedback. Currently the visual report is limited to show whatever you saw when you click to open one dashboard, you can think of it as a "screenshot" of that dashboard page. Does the table on your dashboard page by default show the last 50 entries you want? If you resize your brower window, does it give more entries from the table, if not, then pdf will

[2021-02-18 17:43] zhongnansu commented on #321
same as #326

[2021-02-18 17:44] zhongnansu commented on #326
similar to opensearch-project/reporting#321

[2021-02-18 17:52] kgcreative commented on #326
There seems to be two related issues here.

1) The height of the table in the export doesn't capture the full size of the table pagination, so it gets cut off at the scroll.

2) The data in the table is not exportable individually.

@zhongnansu – Maybe we can find a way of at least changing the table height in the exported view to show the full table, instead of overflowing it?

[2021-02-19 08:17] Artain opened #327 "Error in CSV report"
## Version
Opendistro Elasticsearch 1.13.0 standalone linux
Opendistro Kibana 1.13.0 standalone linux

## Error description
If the saved discover table includes a null value the csv export will fail with the error message:
[code]

[2021-02-19 10:56] hollden commented on #327
I have almost the same error on 1.12:
[code]

[2021-02-19 11:21] Artain commented on #327
@hollden please check https://github.com/opendistro-for-elasticsearch/kibana-reports/pull/313 your error should be fixed with version 1.13.

[2021-02-19 11:53] alexz00 commented on #327
Hi,
I'm facing errors too when generating a CSV report:

If I click on "Create report definition" or "Generate CSV" from the Discover Panel, nothing happens and the following exception is traced:
[code]

I'm using the ODFE 1.13.0.0 plugin (manually installed on Kibana 7.10.2 OSS).

[2021-02-19 16:34] ccottam opened #328 "pdf/png reporting broken when using proxy authentication in kibana"
When using kibana with the opendistro kibana security plugin in proxy auth mode pdf and png reports fail to generate. CVS report still work

As far as I can tell, to generate a report, the security_authentication cookie is passed to the headerless chrome instance to allow it to authenticate against kibana.
But when in proxy auth mode the security_authentication cookie isn't the authentication meth

[2021-02-19 17:09] zhongnansu commented on #328
could you share more details of your case? what is the authentication method you use? We are passing a security_authentication cookie yes, which comes from ODFE security plugin.

[2021-02-19 17:27] ccottam commented on #328
we've got the opendistro security plugin in proxy auth mode eg https://opendistro.github.io/for-elasticsearch-docs/docs/security/configuration/proxy/

kibana.yml
[code]

We're authenticating the user in front of kibana, then passing the username via a header though to kibana to be authorized via the built in roles + rolesmappings

from tcpdump running in the kibana container
my request for a repor

[2021-02-19 20:31] pySilver commented on #327
I'm getting a little bit different error:

`POST https://<redacted>/api/reporting/generateReport?timezone=Europe/Warsaw`
```{"statusCode":500,"error":"Internal Server Error","message":"Cannot read property 'settings' of undefined"}```

[2021-02-19 20:37] zhongnansu commented on #327
@pySilver @hollden from the error log this should be related to https://github.com/opendistro-for-elasticsearch/kibana-reports/issues/249, and the fix is included in 1.13.0 release. Please check

[2021-02-19 20:48] pySilver commented on #327
@zhongnansu I've just switched to 1.13.0 (from 1.12.0), reports aren't generating but the error is different now :(

While clicking "Download CSV" no network communication happens and UI overlay does not appear. However browser console now has the following error:

[code]

[2021-02-19 21:55] zhongnansu commented on #327
@pySilver can you provide the url at the time when you click the "Download csv" button?

[2021-02-19 21:56] zhongnansu commented on #327
@Artain we'll look into this

[2021-02-20 03:04] pySilver commented on #327
@zhongnansu sure. Btw, now for some reason download csv isn't even available (grayed): Screenshot: https://take.ms/M1bh9

URL:
[code]

[2021-02-22 18:04] itbm opened #330 "Report empty if using plugins with client side calculations"
When using plugins that do client side calculations, such as Kibana Enhanced Table, reports are empty as the screenshot is taken before the page has fully rendered.

[2021-02-22 20:05] anirudha commented on #330
Could you please add an image or more description￼

[2021-02-22 20:46] itbm commented on #330
Sure, the report generates from a dashboard but is blank where the plugin should be. Adding a wait before the screenshot gives it enough time to render and exports correctly.

![image](https://user-images.githubusercontent.com/22393016/108767632-8c7f8b80-754e-11eb-8a56-53ba5b0f0194.png)

[2021-02-23 21:21] ky-ma opened #332 "Reporting behind Reverse Proxy"
I can't generate any reports and I believe it has to do with the reverse Proxy setting. The headless chrome that launches isn't communicating back through the proxy port and or path. There doesn't seem to be a setting specific to the kibana report like there is for the main kibana setting from elasticsearch.

Is there a method to get this to work right now on a reverse proxy?

Thanks!

[2021-02-23 22:08] #330 closed, assigned to nobody

[2021-02-24 00:57] gaiksaya commented on #332
Hi @zhongnansu I believe this issue is related to kibana reports hence transferring this issue to kibana-reports repo.
Please take a look.
Thanks!

[2021-02-24 08:18] zhongnansu commented on #332
@gaiksaya Thx, this is a reporting issue, we'll looking into this

[2021-02-24 08:20] zhongnansu commented on #332
@ky-ma There is an existing issue related to reverse proxy. Is this the same issue as yours? https://github.com/opendistro-for-elasticsearch/kibana-reports/issues/328. Besides, there is a pending PR there. We are still evaluating the issue and will deliver a fix soon

[2021-02-24 15:06] ky-ma commented on #332
HI @zhongnansu,

I think it's similar, but slightly different I'm not using authentication. It's just a different URL Path (the reverse proxy URL) that the chrome headless doesn't know.

[2021-02-24 17:13] ccottam opened #333 "reverse proxy rewrite rules break pdf/png report generation"
The current default behaviour for kibana (due to change with version 8), is that if you configure the server.basepath, then you also need to configure your reverse proxy to rewrite the url to remove the basepath.
This behaviour is configurable from 6.3 (via server.rewriteBasePath) but the default behaviour still assumes the proxy is rewriting the url.

(quote from the 5.6 docs as they do a better

[2021-02-24 17:26] ccottam commented on #333
I tried modifying the relativeUrl code to strip the basepath
https://github.com/opendistro-for-elasticsearch/kibana-reports/blob/dev/kibana-reports/server/routes/lib/createReport.ts#L97

But since the first thing chromium gets directed to load is http://0:5601/basepath/bootstrap.js which then errors, the fix might not be a simple one (other than requiring server.rewriteBasePath is set to true)

[2021-03-01 15:50] uplexPaul commented on #326
@zhongnansu Yes you're right i actually get what i see on my screen in the pdf. But on the dashboard i can click on "maximize table" which shows all entries of the table and disables scrolling on it. Thats not available for the report at all.

I just tried your workaround. I've saved the table as a saved search. I can see that and some other saved searches when i browse throughn kibana. But when i

[2021-03-01 15:58] uplexPaul commented on #326
@zhongnansu I am actually able to create a report definition for a saved search which was saved from the "Discover"-Tab of Kibana. But i can't do any grouping or smth. else there - So it is completely useless for me to report the RAW data into csv.

[2021-03-03 11:19] perkons commented on #327
It is still an issue in version 1.13.0
CentOS 8
I am getting this error when trying to Generate CSV:
[code]
I also did install the dependencies mentioned here https://github.com/opendistro-for-elasticsearch/kibana-reports/blob/dev/kibana-reports/rendering-engine/headless-chrome/README.md#additional-libaries and tested with the headles-chromium, same result.

[2021-03-04 07:57] Madhan88 opened #338 "Kibana standalone kibana plugin download url for v1.12.0.0"
I have elasticsearch and kibana version 7.10.0 so i'm trying to install kibana reports plugin.
For Kibana version 7.10.0, the compatible plugin version is v1.12.0.0 so I need url to download the reporting plugin.Can someone please share the url?

[2021-03-04 19:12] ky-ma commented on #332
Hi @zhongnansu  do you have a work around for this issue to get me going for now? thanks!

[2021-03-04 19:48] zhongnansu commented on #333
I thought `server.rewriteBasePath` by default is true? https://github.com/elastic/kibana/blob/a0b793698735eb1d0ab1038f8e5d7a951524e929/config/kibana.yml#L18

[2021-03-04 19:49] zhongnansu commented on #333
I thought `server.rewriteBasePath` by default is true? https://github.com/elastic/kibana/blob/a0b793698735eb1d0ab1038f8e5d7a951524e929/config/kibana.yml#L18

[2021-03-04 19:50] zhongnansu commented on #332
@ky-ma Hi, could you take a look at this issue, is it related to yours? If you set `server.rewriteBasePath = true`, does it work? https://github.com/opendistro-for-elasticsearch/kibana-reports/issues/333

[2021-03-04 20:17] ky-ma commented on #332
Where is the file that I need to add the config to?

[2021-03-04 20:19] zhongnansu commented on #332
It should be in `kibana/config/kibana.yml`

[2021-03-04 20:21] ccottam commented on #333
based on the docs and the behaviour that isn't the case

The 6.8 docs suggest that the plan was to default to true from 7.
https://www.elastic.co/guide/en/kibana/6.8/settings.html#server-rewriteBasePath

The 7.10 docs on the other hand default to 'deprecated' which based on the observed behaviour is false + print a warning message at startup
https://www.elastic.co/guide/en/kibana/7.10/settings.htm

[2021-03-04 20:38] ky-ma commented on #332
OK, I have that already set, that's how Kibana works for me behind the proxt.

That setting doesn't work for the headless chrome that launches in the back ground for report generation though.

[2021-03-04 21:12] nickmy9729 commented on #176
I would go with 1 short term.  This would align with the xpack reporting feature currently available.  They use a param xpack.reporting.csv.maxSizeBytes to the kibana.yml file.  I really love the idea of number 3, but realize it would take more work.

[2021-03-05 09:34] ThisIsQasim opened #339 "Support sending compiled report over email/slack"
~~The documentation for this plugin is missing instructions on how to setup email and slack recipients.~~

We use this plugin to generate a daily PDF of the health status of our backend services. It would be great if these reports could be automatically sent to relevant stakeholders over email or slack etc.

[2021-03-05 17:34] zhongnansu commented on #339
The notification feature is currently not available. But it's on our roadmap for sure

[2021-03-05 17:58] ThisIsQasim commented on #339
Oh. I thought it had been implemented since the original feature request mentioned reports via email/slack. Should I rename the issue?

[2021-03-08 10:16] luffy1947 opened #340 "PNG / PDF / CSV Report Generate Issue"
Dear Team,

We are new to Wazuh, recently we implmeneted on our company . While try to generate report from kibana, we are getting error.

"Download Error"

Appreciate your support.

![kibana_report_error](https://user-images.githubusercontent.com/48924156/110307750-4550ca80-8025-11eb-882f-cf084b695ec0.png)

[2021-03-08 10:22] francisco-hoo commented on #340
Hey @luffy1947, could you please share more details about, such kibana logs?

[2021-03-08 17:37] zhongnansu commented on #339
Can you rename it something more like a feature request? It would be even better if you can provide more details of the use case that you expect. Thx

[2021-03-10 07:44] ThisIsQasim commented on #339
I have updated this issue with the feature request and details of the use case.

[2021-03-11 05:56] melvinkokxw commented on #327
This is still an issue in 1.13.0, and I located a possible location for the issue:

https://github.com/opendistro-for-elasticsearch/kibana-reports/blob/0160a02e3a5d26b9ff279deb5831ceb71b5f8893/kibana-reports/server/routes/utils/dataReportHelpers.ts#L224

The `sanitize` function uses the `toString` method on null values.

A workaround working for me is to `continue` if the value is `null`:

[code]

[2021-03-11 16:14] ky-ma commented on #332
Hi @zhongnansu,

Do you have any updates to this? A work around for now?

Thanks!

[2021-03-17 12:19] mxmorin opened #343 "Cannot download as CSV when Store URLs in session storage is active"
When **Store URLs in session storage** option is set in Advanced Settings, cannot download saved query as CSV.
Js errors is thrown :
`Uncaught TypeError: Invalid attempt to destructure non-iterable instance.
In order to be iterable, non-array objects must have a [Symbol.iterator]() method.
    at _nonIterableRest (:5601/36136/bundles/plugin/opendistroReportsKibana/opendistroReportsKibana.plugin.js

[2021-03-17 14:02] mxmorin commented on #340
I had this error too with query migrated from 6.8 version.
In the error log :
`{"type":"log","@timestamp":"2021-03-17T09:22:37Z","tags":["error","plugins","opendistroReportsKibana"],"pid":61598,"message":"Failed to generate report: Not Found :: {\"path\":\"/.kibana/_doc/index-pattern%3Aab8da130-78aa-11e9-ba7d-37bf777999b1\",\"query\":{},\"statusCode\":404,\"response\":\"{\\\"_index\\\":\\\".kibana

[2021-03-17 18:09] brian-grabau commented on #339
O just found out reports don't have email option, while on a call with large group of users, and the pitchforks came out!!! Do you have eta in email report feature will be released? needless to say we have high demand for this feature..

[2021-03-18 01:46] melvinkokxw opened #344 "Negative values not exported correctly"
Issue occurred when generating CSV file from a table in Discover. Negative numbers appear in the csv with an extra `'` in front of them. This is what it looks like:

Negative value | Positive value
-- | --
'-47 | 520
'-15 | 475

For reference, this field is of type `number`

[2021-03-18 03:44] zhongnansu commented on #339
@brian-grabau Hi, it's glad to know users might be interested in the notification feature. We are targeting probably the next next ODFE release to release notification plugin, as well as integrating with reporting. I'll say somwhere around mid May. Soon we'll update the ODFE roadmap in github with the community

[2021-03-18 10:01] alexz00 commented on #343
I experienced the same issue with the same error.

[2021-03-21 18:55] hashworks opened #347 "Linux releases"
Hi,

Could you provide linux versions in [releases](https://github.com/opendistro-for-elasticsearch/kibana-reports/releases)? Currently, you only provide MacOSX Packages.

Other plugins like [anomaly-detection](https://github.com/opendistro-for-elasticsearch/anomaly-detection-kibana-plugin/releases) provide those and are installable over `kibana/src/cli_plugin install <url>`.

[2021-03-29 20:34] starcatter opened #348 "Adding i18n translations"
Hi,
From what I see in the code most strings are hardcoded in english. Is there any ongoing work to add i18n translation support to this plugin?
If I were to do this myself, completely or partially (ie. just critical user-facing parts), can I submit a pull request? Aside from general contribution guidelines, is there anything I should be aware of when trying to implement that?

[2021-03-31 18:48] iget-master opened #350 "Low PDF Quality"
I'm testing the PDF reporting functionality (my main reason to migrate to Opendistro) when I noticed that the generated PDF is just a screenshot of the page instead of a vector/text PDF. Also there's a issue with some fonts with wrong kerning.

I've reading the code and doing some tests, and looks viable to remove the screenshot part of the code:

https://github.com/opendistro-for-elasticsearch/ki

[2021-03-31 21:28] iget-master commented on #339
Snce this feature is not available, the readme of this plugin should be changed:

[2021-04-03 23:24] iget-master commented on #210
Please see #350

[2021-04-05 16:24] iget-master opened #351 "Time Range not using Commonly Used Ranges from Kibana Settings"
Currently, the `time_range` component uses a constant from `report_settings_constants.tsx` to feed the `commonlyUsedRanges` property of `EuiSuperDatePicker` inside it.

This is not the default behavior across Kibana. The default behavior is to load this from `uiSettings` service, allowing the user to override the available options.

I'm proposing this change that is not a breaking change but a "fi

[2021-04-05 18:39] zhongnansu commented on #338
Hi you need to install different `kibana-reports` artifacts accroding to your OS and architecture. The links are provided [here](https://opendistro.github.io/for-elasticsearch-docs/docs/kibana/plugins/#reports-kibana) for the latest v1.13.0.0. But for v1.12.0.0, the install link is slightly different

[code]

Also, don't forget to install `reports-scheduler` together with `kibana-reports` to make

[2021-04-06 16:07] iget-master opened #353 "Time Range not working properly with relative dates"
Steps to reproduce:

1. Create a report definition
2. On time range field, use relative ranges eg. "from 7 days ago (round)" and "to now".
3. Save the report definition
4. Reopen it a minute later

Note that since internally the KibanaReports plugin converts the range field from elasticsearch DateMath to ISO duration, it is not able to do some things, for example the "round" option won't work prop

[2021-04-06 16:20] iget-master commented on #353
Also reading the code, there's a ton of complexity on a relatively simple thing.

1. Why is invalid setting a time range in the future? (for example, from -7d to +7d) Setting this range on the dashboard will just work fine (no results in the future probably, but sometimes a index may contain dates in the future)
2. Why use ISO duration instead of DateMath?
3. Why not use the commonly used ranges f

[2021-04-06 16:53] #338 closed, assigned to nobody

[2021-04-06 18:04] iget-master commented on #351
Although my PR #352 fixes this, this plugin does not support relative dates (see #353). :disappointed:

[2021-04-06 18:09] iget-master opened #355 "Generating report directly from dashboard don't work"
Steps to reproduce:

1. Open a dashboard. Select any relative date like "last 7 days"
2. Click on `Reporting`
3. Click on `Download PDF`
4. Nothing happens

Investigating the issue, found that an error is logged at browser console:

Note that if using an absolute date, it outputs the PDF but shows a lot of error alerts:

`rison decoder error: missing ':'`
Seems to happens because and bad formatted

[2021-04-06 18:09] #340 closed, assigned to nobody

[2021-04-06 18:10] zhongnansu commented on #347
Currently if you want to install a released standalone plugin, you can use the cloudfront links we provided. Refer to #338 for those links. Thanks

[2021-04-06 18:10] #347 closed, assigned to nobody

[2021-04-06 18:12] #328 closed, assigned to nobody

[2021-04-06 18:13] zhongnansu commented on #320
no reply, closing

[2021-04-06 18:13] #320 closed, assigned to nobody

[2021-04-06 18:15] zhongnansu commented on #343
We'll take a look. This advanced setting is something that we were not aware of.

[2021-04-06 18:23] zhongnansu commented on #348
Hi you are very welcome to post PRs and our team will review those and provide help that you need. As for suggestion, I found something online which I believe you have also read. https://www.elastic.co/guide/en/kibana/current/external-plugin-localization.html

[2021-04-06 18:42] zhongnansu commented on #350
@iget-master
Hi that's an issue that has been brought up a lot. Honestly I forget why we made a deisgn choice at that time lol, but some time ago I did have a branch in my own repo that does some research on high-quality, text-selectable pdf. But I think at that time we just don't have enough time and resource to complete that and add to the release. Please take a look if you can find anything use

[2021-04-06 19:58] iget-master commented on #350
@zhongnansu your solution is similar to mine, except for the fix for wrong fonts. But now I noticed that I made it only for Dashboard as source, I'll test with visualization

[2021-04-07 00:04] zhongnansu commented on #355
Hi did you save the dashboard/visualization after you change the timerange or anything on the dashboard?

[2021-04-07 00:08] iget-master commented on #355
No, I changed the timerange and pressed Download PDF.  Using the timerange saved in the dashboard works (just open dashboard and press Download, works)

[2021-04-07 00:09] zhongnansu commented on #353
@davidcui-amzn could you help take a look as well, I thought we support relative date range. And we have removed something we couldn't support from the Datepicker

[2021-04-07 00:19] iget-master commented on #353
I've spent some hours reading this code, but didn't checked it history of commits. But in the current  branch this is the behavior if I understood correctly:

When saving the Report Definition, the relative range in Elasticsearch's DateMath format (something like `now/d-7d`~`now`) is converted to an ISO duration format: PT168H (Period of 7*24 hours), but the start of this period is not saved (or i

[2021-04-07 00:42] zhongnansu commented on #355
I realized this should work whether you saved the dashboard or not, becuase the url is changed after you changed the time filter. We took that url and covert to absolutte start and end time for reporting. This is a pretty basic case that we support for generating report. I just tested locally and it works fine. Could you test with the sample dataset as well and let us know? Meantime, we'll also lo

[2021-04-07 00:51] zhongnansu commented on #344
We'll look into this issue, and keep you updated, thx.

[2021-04-08 05:31] ubais7 opened #357 "Managing authentication for the reporting plugin"
I'm using Basic elastic & Kibana and only added reporting plugin to kibana.

Since the security module is from elastic itself, how can I configure this credentials to reporting plugin?

[2021-04-08 17:13] iget-master commented on #355
I think that with sample dataset it will work, something in my environment or data is causing this. I'm investigating the issue:

The error occurs on `getTimeFieldsFromUrl()` of `context_menu_helper.ts`: "cannot read diff of undefined". Going to that line:

[code]

In order to the return of `parse()` be null, the `toDateString` must be invalid. The variable is set at

[code]

Doing some tests on c

[2021-04-08 18:18] iget-master commented on #355
Also noticed that using an absolute time range is not working properly.

Try setting `from:'2021-04-08T03:00:00.000Z',to:'2021-04-09T02:30:00.000Z'` in the url. The output report doesn't match with the shown on dashboard. But it seems not to be related with the `getTimeFieldsFromUrl()` function, since it outputs the correct value in this situation:

[code]

[2021-04-08 18:27] iget-master commented on #355
Doing the same test above with `now/d` to `now/d` will result in a weird result:

[code]

Note the `P0D` exposing the fragility of using ISO Duration to represent this range: It doesn't support miliseconds, and momentjs implementation weirdly round down the period to zero days instead of 23H59M59S.

I'm doing a series of tests with this plugin, and as you can see in latest issues, I'm founding a l

[2021-04-16 13:38] vishalrijhwani opened #359 "open distro kibana reporting plugin"
HI Open distro Team,
                                   I am using kibana 7.11.1, I need kibana reporting plugin for same version i.e 7.11.1, current kibana reporting plugin supports kibana till version 7.10.2, Please inform me when this plugin will be available or what i should do to make current kibana reporting plugin compatible with kibana version 7.11.1

[2021-04-16 13:41] vishalrijhwani commented on #359
Further more I am interested in developing open source kibana plugin. I request you to please send me complete detail document with example showing how to develop kibana plugin. Please also give details of tools required to develop kibana plugin

[2021-04-16 23:18] jasonrojas commented on #327
I am also seeing the same thing with the 1.13.2 update.

`{"type":"log","@timestamp":"2021-04-16T23:17:26Z","tags":["error","plugins","opendistroReportsKibana"],"pid":30607,"message":"TypeError: JSON.parse(...).query.query.replace is not a function\n    at buildQuery (/usr/share/kibana/plugins/opendistroReportsKibana/server/routes/utils/dataReportHelpers.ts:115:18)\n    at getEsDataSize (/usr/shar

[2021-04-20 16:51] zhongnansu commented on #357
You also need the reports-scheduler plugin(ES plugin) to make the reporting feature work, there's no credentials that are specific to reporting plugin. All security are managed by security plugin.

[2021-04-20 21:14] zhongnansu commented on #359
Hi, we just announced the release of [OpenSearch](https://github.com/opensearch-project/dashboards-reports), ODFE will not have major release from now on. Reporting is also migrated under OpenSearch and the repo is public. The release will follow OpenSearch version instead of Elasticsearch.

[2021-04-20 21:27] zhongnansu commented on #12
This issue is moved to https://github.com/opensearch-project/dashboards-reports/issues/10

[2021-04-20 21:27] #12 closed

[2021-04-20 21:28] zhongnansu commented on #31
This issue is moved to https://github.com/opensearch-project/dashboards-reports/issues/11

[2021-04-20 21:28] #31 closed

[2021-04-20 21:31] zhongnansu commented on #176
This issue is moved to https://github.com/opensearch-project/dashboards-reports/issues/12

[2021-04-20 21:31] #176 closed

[2021-04-20 21:32] #309 closed, assigned to nobody

[2021-04-20 21:45] #359 closed, assigned to nobody

[2021-04-20 21:45] #357 closed, assigned to nobody

[2021-04-20 21:48] uzhinskiy opened #363 "Missing fields in the generated file"
I am trying to create a CSV report based on a saved search that contains fields like **@timestamp, A, B, C.D, C.E, F**, etc. But the generated file only contains **@timestamp, A, B, F** - in the report all complex fields are missing.
In fact - the fields that mapped as _object_ in my index are missed.
Why did this happen and how can I fix it?

Kibana v 7.10.0 from docker-image "amazon/opendistro-f

[2021-04-20 23:01] zhongnansu commented on #321
same as https://github.com/opendistro-for-elasticsearch/kibana-reports/issues/326, closing for clear tracking

[2021-04-20 23:01] #321 closed, assigned to nobody

[2021-04-21 00:00] ubais7 commented on #357
Reporting features working fine by adding all documented plugins.

The problem now is, since the kibana&es authentications are enabled through elastic xpack security- reporting plugin was showing authentication errors.

Once I disabled authentication in Kibana & ES , it's working fine.

[2021-04-21 00:11] zhongnansu commented on #357
@ubais7 X-pack is not someting we aims to support, x-pack code is not under Apache 2.0 liscense as we do. I'd recommend you check out the ODFE security plugin solution

[2021-04-21 01:19] #290 closed, assigned to nobody

[2021-04-21 01:21] zhongnansu commented on #238
This issue is moved to https://github.com/opensearch-project/dashboards-reports/issues/13

[2021-04-21 01:21] #238 closed, assigned to nobody

[2021-04-21 01:23] zhongnansu commented on #279
The issue has been moved to https://github.com/opensearch-project/dashboards-reports/issues/14

[2021-04-21 01:23] #279 closed, assigned to nobody

[2021-04-21 01:27] zhongnansu commented on #326
This issue has been moved to https://github.com/opensearch-project/dashboards-reports/issues/15

[2021-04-21 01:27] #326 closed, assigned to nobody

[2021-04-21 15:52] zhongnansu commented on #332
This issue has been moved to https://github.com/opensearch-project/dashboards-reports/issues/16

[2021-04-21 15:52] #332 closed, assigned to zhongnansu

[2021-04-21 15:54] zhongnansu commented on #333
This issue has been moved to https://github.com/opensearch-project/dashboards-reports/issues/17

[2021-04-21 15:54] #333 closed, assigned to zhongnansu

[2021-04-21 15:55] zhongnansu commented on #339
This issue is moved to https://github.com/opensearch-project/dashboards-reports/issues/18

[2021-04-21 15:55] #339 closed, assigned to nobody

[2021-04-21 15:57] zhongnansu commented on #343
This issue is moved to https://github.com/opensearch-project/dashboards-reports/issues/19

[2021-04-21 15:57] #343 closed, assigned to nobody

[2021-04-21 15:58] zhongnansu commented on #344
This issue is moved to https://github.com/opensearch-project/dashboards-reports/issues/20

[2021-04-21 15:58] #344 closed, assigned to nobody

[2021-04-22 04:26] zhongnansu commented on #363
Could you be more specific about "complex fields", also it's better if you can provide some example, screenshot, dataset you used, anything

[2021-04-22 05:36] uzhinskiy commented on #363
For example:
[code]

[2021-04-26 12:01] Marc-Whiteman commented on #327
I have the same "Internal Server Error" as jasonrojas with ver 1.12.0

[2021-04-28 13:13] rpudlowski93 opened #365 "Error while downloading reports to PDF/PNG"
**Describe the bug**
I can't download reports from dashboards or visualisation to PDF/PNG using Kibana UI. I'm getting the following error: "Download error, There was an error generating this report."  Under the hood, there error appears with "{statusCode: 404, error: "Not Found", message: "Not Found"}"

More details related to the error:
`opendistroReportsKibana.plugin.js:1 POST http://VM_IP:5601

[2021-05-13 19:09] zhongnansu commented on #351
This issue has been moved to https://github.com/opensearch-project/dashboards-reports/issues/41

[2021-05-13 19:09] #351 closed, assigned to nobody

[2021-05-13 19:11] zhongnansu commented on #327
This issue has been moved to Dashboards reports. We'll merge in the PR to Opendistro still,  and apply the fix to the new repo. For tracking and further discussion, please go to issue in Dashboards-reports https://github.com/opensearch-project/dashboards-reports/issues/40

[2021-05-13 19:12] #327 closed, assigned to nobody

[2021-05-13 19:31] zhongnansu commented on #363
This issue has been moved to https://github.com/opensearch-project/dashboards-reports/issues/43

[2021-05-13 19:31] #363 closed, assigned to nobody

[2021-05-13 20:45] zhongnansu commented on #350
This issue has been moved to https://github.com/opensearch-project/dashboards-reports/issues/45

[2021-05-13 20:47] zhongnansu commented on #348
This issue has been migrated to https://github.com/opensearch-project/dashboards-reports/issues/46

[2021-05-13 20:52] zhongnansu commented on #365
could you get he Kibana logs from the kibana server side and provide to us? thx

[2021-05-14 10:49] rpudlowski93 commented on #365
Yes sure, here You have:
[kibana.log](https://github.com/opendistro-for-elasticsearch/kibana-reports/files/6478255/kibana.log)

The request in the file - one before last one (line 229 with 404 error code) was logged when the error arose

[2021-05-14 12:44] iget-master commented on #353
@zhongnansu Could you please move this issue to the `opensearch-project/dashboards-reports` repository? The https://github.com/opensearch-project/dashboards-reports/pull/49 depends on this being fixed to be merged out.

[2021-05-14 18:45] zhongnansu commented on #353
@iget-master Before moving this issue, let's discuss more here since we have the context.
1. We assume the scheduled report to be always using a current timestamp + timerange. Even if you select absolute dates, we calculate the range to ISO standard. It doesn't remain absolute. Is there a use case that you feel like we should keep it absolute?
2. The way we convert datemath to ISO is first use `da

[2021-05-14 18:59] iget-master commented on #353
No, I don't think that #352 can be merged without this being fixed. Because having this fixed will create an inaccurate report. Saying that #352 introduces a bug is not correct, it just exposes an existing bug (note that this issue can be reproduced without the scheduled report)

[2021-05-14 19:03] iget-master commented on #353
Replying to:

1. With absolute dates the ISO Period should work
2. It's not accurate because it's impossible to represent some Datemath expressions with Initial date + period.

IMO this functionality is completely broken for most real use cases.

[2021-05-25 23:17] zhongnansu commented on #353
This issue has been moved to https://github.com/opensearch-project/dashboards-reports/issues/61, I feel like we need more discussion

[2021-05-25 23:18] #353 closed, assigned to nobody

[2021-06-01 13:32] rohitsawant02 opened #374 "Change plugin name in side menu of kibana"
Hi ,

I need to change the plugin name in kibana sidebar from Open Distro for Elasticsearch (as dropdown) to Elasticsearch reporting
please guide me where I can change this.

[2021-06-01 13:41] francisco-hoo commented on #374
Hey @rohitsawant02

To achieve that you will need to build the plugin. Changing the name on the sidebar menu just needs to change this line:
https://github.com/opendistro-for-elasticsearch/kibana-reports/blob/f013a40a3766dd261f806b72265d30265bd08ee8/kibana-reports/public/plugin.ts#L39

From `Reporting` to what you need.

You should take a look into this pull request (#362) that already offers you

[2021-06-01 17:14] rohitsawant02 commented on #374
Hi francisco-hoo,

Thanks for your response, I want to change the label 'Open Distro for Elasticsearch' to 'Elasticsearch reporting' but I am not able to build it properly. I am using branch opendistro-1.13.2.0 and building by starting kibana with command 'yarn start'. please guide us steps to change label and build the plugin properly.

[2021-06-01 17:47] francisco-hoo commented on #374
Hey again @rohitsawant02,

You are talking about the Category label, for that you need change this:
https://github.com/opendistro-for-elasticsearch/kibana-reports/blob/f013a40a3766dd261f806b72265d30265bd08ee8/kibana-reports/public/plugin.ts#L42

If you're using another plugin from Open Distro, you'll need to change the same label in each plugin.

With `yarn start` you are starting a Kibana in Dev

[2021-06-02 09:44] rohitsawant02 commented on #374
Hi @francisco-hoo ,

It is working now. thanks
but I have another issue while downloading the report in pdf format that  Error: Protocol error (Page.printToPDF): Printing is not enabled . can you please help to resolve this issue.

[2021-06-02 15:02] rohitsawant02 opened #375 "PDF report download does not work"
Hello,

When I tried to download in image format it works. but when I tried to download same report in pdf format it gives me following error and pdf report never get generated.
Error:  [10:52:19.086] [error][opendistroReportsKibana][plugins] Failed to generate report by id: Error: Protocol error (Page.printToPDF): Printing is not enabled
  log   [10:52:19.087] [error][opendistroReportsKibana][plu

[2021-06-02 18:04] zhongnansu commented on #374
I saw another [issue](https://github.com/opendistro-for-elasticsearch/kibana-reports/issues/375) created, closing this one. Also, I highly recommand you checkout our latest [repo](https://github.com/opensearch-project/dashboards-reports) in OpenSearch. This Open Distro project will not have major release in the future, we have migrated to OpenSearch and are slowly deprecating OpenDistro.

[2021-06-02 18:04] #374 closed, assigned to nobody

[2021-06-02 18:12] zhongnansu commented on #375
@rohitsawant02 Hi, could you provide some info about how did you install reporting, or are you running from the source code? Also what OS are you running reporting? Note to mention that for different OS we require different Chromium to be installed seperately if you are running reporting from source code. Those are available [here](https://github.com/opendistro-for-elasticsearch/kibana-reports/rel

[2021-06-02 18:13] zhongnansu commented on #375
I highly recommand you checkout our latest [repo](https://github.com/opensearch-project/dashboards-reports) in OpenSearch. This Open Distro project will not have major release in the future, we have migrated to OpenSearch and are slowly deprecating OpenDistro.

[2021-06-03 07:17] Kanmanir opened #376 "Reporting PDF is getting generated  as a single page in version 13.1.0.1."
## **Reporting PDF is getting generated  as a single page in version 13.1.0.1.**
[On_demand_report_2021-06-03T06_11_17.128Z_81dff880-c432-11eb-ae0e-8d3c524dd195.pdf](https://github.com/opendistro-for-elasticsearch/kibana-reports/files/6589646/On_demand_report_2021-06-03T06_11_17.128Z_81dff880-c432-11eb-ae0e-8d3c524dd195.pdf)

I have created a setup with odfe-opendistro and trying to generate on-de

[2021-06-03 17:46] zhongnansu commented on #376
@Kanmanir 1 page is our only solution for pdf. Do you feel like there's a use case that the multi-page pdf is useful? How do you want the page to be splited by? By each individual visualization items?

Please submit a **feature request** to our latest [repo](https://github.com/opensearch-project/dashboards-reports) in OpenSearch. This Open Distro project will not have major feature release in the

[2021-06-03 20:56] Coderranker opened #377 "How to send a report as part of email/slack?"
Hi,
Thank you all for your amazing work. I am using open-distro and things are working well. My new use-case is to send the generated report every week to our team on slack/email. I see in the description that we support sending email/slack -

` Scheduled reports can be sent to (shared with) self or various stakeholders within the organization such as, including but not limited to, executives, man

[2021-06-03 21:45] zhongnansu commented on #377
@Coderranker
Hi, the readme is confusing. We actually removed this feature due to some technical reason when we released the product. However we know it's an important feature and it still on the roadmap.

Since recently we are migrating OpenDistro to OpenSearch, and any new features will be released only on Opensearch. We are slowly deprecating OpenDistro. Please refer to the issue in Opensearch

[2021-06-03 23:45] Coderranker commented on #377
Thanks for the info zhongnansu. Do we have a timeline for the changes to be merged?

[2021-06-04 20:11] zhongnansu commented on #377
@Coderranker Please refer to the roadmap for tracking, notification will be a new plugin, and reporting will integrate with it
https://github.com/orgs/opensearch-project/projects/1#column-14092178

[2021-06-04 21:22] ky-ma opened #378 "Add xpack.reporting.csv.maxSizeBytes to allow larger CSV reports"
Adding xpack.reporting.csv.maxSizeBytes to kibana.yml fails to load because it's an unrecognized key.

Please add this to next release so we can increase the size of the CSV file in the reports.

`{"type":"log","@timestamp":"2021-06-04T21:19:35Z","tags":["fatal","root"],"pid":7733,"message":"{ Error: Unknown configuration key(s): \"xpack.reporting.csv.maxSizeBytes\". Check for spelling errors and

[2021-06-04 21:28] zhongnansu commented on #378
@ky-ma
There is a related issue but in the new repo. https://github.com/opensearch-project/dashboards-reports/issues/34
Since we have migrated to Opesearch. Could you move the dicussion over there?

[2021-06-08 00:06] #348 closed, assigned to nobody

[2021-06-10 18:21] #377 closed, assigned to nobody

[2021-06-14 07:40] priyub20 opened #380 "_opendistro Index exception"
I have installed kibana-reports plugin ( version 1.13.2.0 ) on kibana - 7.10.2.
While creating report, it is giving below exception in logs:

 `{"type":"log","@timestamp":"2021-06-12T11:27:59Z","tags":["error","plugins","opendistroReportsKibana"],"pid":7,"message":"{ Error: [invalid_index_name_exception] Invalid index name [_opendistro], must not start with '_', '-', or '+', with { index_uuid=\"_n

[2021-06-16 19:43] zhongnansu commented on #380
Hi we just migrated to opensearch and have the release-candidate version available, could you try there? Since we are deprecating this OpenDistro project.

- https://opensearch.org/downloads.html
- https://github.com/opensearch-project/dashboards-reports

[2021-06-16 19:44] #378 closed, assigned to nobody

[2021-06-23 16:20] cnc-bdibene opened #383 "Multi-Page PDF"
Many Dashboard and Saved-Search visualizations create many pages of results.
I would like to export all (or selected) pages as a multi-page PDF file.

The PDF format is more viewer-friendly and more easily embedded/attached to websites, compared to CSV (e.g. some website management tools restrict file types and CSV isn't allowed).

[2021-06-23 16:51] zhongnansu commented on #383
@cnc-bdibene Hi, could you post this to Opensearch-dashboards-reports [repo](https://github.com/opensearch-project/dashboards-reports). We are deprecating Open Distro. New feature will only be released in Opensearch

[2021-06-28 19:25] #350 closed, assigned to zhongnansu

[2021-06-28 19:26] zhongnansu commented on #383
similar issue as #376

[2021-06-29 05:25] #375 closed, assigned to nobody

[2021-07-07 20:40] rpotnuru opened #384 "CVS report is not getting generated from a saved search when using "Today" form the date picker"
CVS report is not getting generated from a saved search when using Today form the date picker as my time filter, however when I use a specific duration like from and to date it is working.

When using today in the time filter I am seeing errors in the JavaScript Console. PFB the error trace.
_Uncaught TypeError: Cannot read property 'diff' of undefined
    at getTimeFieldsFromUrl (opendistroReport

[2021-07-07 22:35] zhongnansu commented on #384
Hi this is a [known issue](https://github.com/opensearch-project/dashboards-reports/issues/88) and it's on our roadmap to fix. However, since recently we have migrated to Opensearch and are deprecating the open distro for elasticsearch. Any fix and new features will only apply to the new project under Opensearch. Please take a look and leave any comment over there.

[2021-07-07 22:36] #384 closed, assigned to nobody

[2021-07-07 22:36] #380 closed, assigned to nobody

[2021-07-07 22:36] #376 closed, assigned to nobody

[2021-07-12 21:31] zhongnansu commented on #365
Please try the [Dashboards-reports plugin](https://github.com/opensearch-project/dashboards-reports). We are deprecating this repo.

OpenSearch 1.0 just released: https://opensearch.org/downloads.html

[2021-07-12 21:32] #365 closed, assigned to nobody

[2021-07-14 14:59] mlsb101 opened #385 "Not able to configure email option for report"
Hi,

I want to schedule a report to be sent to email address, but i am not able to find any option to configure email for an alert.
Can you let me know if this feature is there or not in Opendistro Kibana.

Kibana version : 7.10.2

[2021-07-14 15:28] sushovan23 opened #386 "500 error while downloading reports in kibana"
Version details:
elasticsearch-oss-7.10.2-1.x86_64
opendistroforelasticsearch-1.13.1-1.x86_64
opendistroforelasticsearch-kibana-1.13.1-1.x86_64

How to reproduce:
While trying to download reports in kibana getting following error:
`Jul 14 14:50:47 hostname kibana[10656]: {"type":"log","@timestamp":"2021-07-14T14:50:47Z","tags":["error","plugins","opendistroReportsKibana"],"pid":10656,"message":"Fa

[2021-07-14 17:24] zhongnansu commented on #385
@mlsb101 Hi, the send notifcation fearure is not available in any version of Opendistro Reporting. However the feature is still on our roadmap and the development is in progress. Since we migrated to Opensearch recently, and we are deprecating OpenDistro. So notification feature will only be available in OpenSearch.

https://github.com/opensearch-project/dashboards-reports/issues/72

[2021-07-14 17:24] #385 closed, assigned to nobody

[2021-07-20 15:06] RameshKatkam opened #387 "PDF/PNG download report - doesn't work ODFE1.13 - http 500 error"
Hello,

Version details:
elasticsearch-oss-7.10.2-1.x86_64
opendistroforelasticsearch-1.13.1-1.x86_64
opendistroforelasticsearch-kibana-1.13.1-1.x86_64

Reproduce issue:
1. Generate PDF or PNG from the sample data set from the reporting definition. NOTE: CSV works fine.
2. Check the developer tools response from the browser. Error dumps as Target closed with 500 error as shown below.
chrome develo

[2021-07-21 17:44] zhongnansu commented on #387
can you check and see if there's any error log on Kibana server side?

[2021-07-21 17:49] zhongnansu commented on #387
Maybe this can help?
https://opendistro.github.io/for-elasticsearch-docs/docs/kibana/reporting/#troubleshooting

[2021-07-21 17:49] zhongnansu commented on #386
Maybe this can help?
https://opendistro.github.io/for-elasticsearch-docs/docs/kibana/reporting/#troubleshooting

[2021-07-23 09:56] rini2208 opened #388 "Reports not getting generated in opendistro version 1.13.2"
Getting below errors when trying to generate csv report, earlier same functionality worked but suddenly it stopped working.

{"type":"log","@timestamp":"2021-07-23T09:16:39Z","tags":["error","plugins","opendistroReportsKibana"],"pid":1,"message":"Failed input validation for create report Error: [query_url]: invalid relative url: /kibana/app/discover#/view/a90ac850-eb96-11eb-8254-df7d866a2475?_g=(f

[2021-07-23 14:40] rylativity opened #389 "Cannot Generate PDF/PNG Reports In Open Distro Kibana Docker Container & Cannot Sudo in ODKibana Container to Install Chromium Dependencies"
I'm seeing a very similar problem to the OP from these two issues ([386](https://github.com/opendistro-for-elasticsearch/kibana-reports/issues/386) & [387](https://github.com/opendistro-for-elasticsearch/kibana-reports/issues/387)), except **I am running my ODElasticsearch and ODKibana servers in docker** from the images amazon/opendistro-for-elasticsearch:1.13.2 and amazon/opendistro-for-elastics

[2021-07-23 22:02] zhongnansu commented on #388
could you describle the way you triggered the report generation? Is it through UI or through API?
could you also show me your `server.basePath` and `server.rewriteBasePath` setting in `kibana.yml`?

[2021-07-24 05:27] rini2208 commented on #388
Found kibana.yml settings below.

kibana.yml: |
    server.host: "0.0.0.0"
    server.basePath: "/kibana"
   server.rewriteBasePath: "true"
    elasticsearch.hosts: ["http://elasticsearch:9200"]

On Sat, 24 Jul 2021, 03:33 Zhongnan Su, ***@***.***> wrote:

[2021-07-27 14:06] #389 closed, assigned to nobody

[2021-07-30 15:01] rylativity commented on #387
@RameshKatkam are you using any kind of authentication requiring the presence of certain headers (e.g. proxy auth requires the presence of x-proxy-user and x-proxy-roles headers)?

I have seen the exact same behavior as you (i.e. I can generate CSV reports but not PDF and PNG), and it only occurs for me when I have proxy auth enabled.  In my case, the requests made by headless Chrome don't appear

[2021-08-09 15:13] NeckBeardPrince opened #390 "Error generating a report from the dashboard - _order.toLowerCase is not a function"
[code]

I'm not sure what else to share.

[2021-08-09 17:10] alejandroorg opened #391 "Timeout when I try to download PDF from Reporting Module"
Hello,

I have a problem when I try to download anything from the reporting module. Is not related to the amount of data because I have tried that with a visualization with 6 events or with 30 millions of events.

Those logs are an example of the errors I get while I'm trying to download the PDF:

[code]

How can I fix it?

[2021-08-13 06:47] rini2208 commented on #388
@zhongnansu any updates on issue?

[2021-09-08 09:39] Kanmanir opened #393 "Delete option not available for reporting"
# Delete option is not available for reporting which we generated.
Delete option is not available for generated reports.

![reporting_delete_button_absent](https://user-images.githubusercontent.com/84832234/132484546-dde5ef30-3d3e-42e6-b639-d51a02ebdad4.png)

[2021-09-09 08:20] rsmeyers commented on #391
Hitting same issue on opendistroforelasticsearch-kibana-1.13.2-1.x86_64 when generating report

Sep  9 10:06:02 trapr-01 kibana[2461604]: {"type":"response","@timestamp":"2021-09-09T08:03:47Z","tags":[],"pid":2461604,"method":"post","statusCode":200,"req":{"url":"/
api/reporting/generateReport?timezone=Europe%2FBerlin","method":"post","headers":{"host":"127.0.0.1:5601","sec-ch-ua":"\"Google Chrome

[2021-09-09 08:22] rsmeyers commented on #391
Hitting same issue on opendistroforelasticsearch-kibana-1.13.2-1.x86_64
Sep  9 10:06:02 blah-01 kibana[2461604]: {"type":"response","@timestamp":"2021-09-09T08:03:47Z","tags":[],"pid":2461604,"method":"post","statusCode":200,"req":{"url":"/
api/reporting/generateReport?timezone=Europe%2FBerlin","method":"post","headers":{"host":"127.0.0.1:5601","sec-ch-ua":"\"Google Chrome\";v=\"93\", \" Not;A Bra

[2021-09-23 19:37] jamesdboone commented on #389
For anyone else who runs into this...I had similar issue w/ timeouts generating png/pdf.  I bumped up memory & CPU to the dashboards pod and all was good.  It seems the opensearch helm charts maybe don't accomodate memory for this operation...

[2021-10-07 09:43] Kanmanir opened #396 "After edit the report definition in on demand type report is not generating."
# After edit the report definition in on demand type report is not generating.

After edited the report definition from PDF to PNG  and vice versa in on demand type its not generating the report.

Also trying to change from cron based scheduler to recurring and click on save changes button its is showing the pop-up message as successfully updated the report definition. But its not applying the cha